/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.Activity
import org.openapitools.client.models.ActivityStatusUpdate
import org.openapitools.client.models.PluginError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ActivityApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/activities
     * 
     * 
     * @param activity 
     * @return Activity
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createActivity(activity: Activity) : Activity {
        val localVarResponse = createActivityWithHttpInfo(activity = activity)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Activity
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/activities
     * 
     * 
     * @param activity 
     * @return ApiResponse<Activity?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createActivityWithHttpInfo(activity: Activity) : ApiResponse<Activity?> {
        val localVariableConfig = createActivityRequestConfig(activity = activity)

        return request<Activity, Activity>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createActivity
     *
     * @param activity 
     * @return RequestConfig
     */
    fun createActivityRequestConfig(activity: Activity) : RequestConfig<Activity> {
        val localVariableBody = activity
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/activities",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/activities/{activity_id}
     * 
     * 
     * @param activityId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteActivity(activityId: kotlin.String) : Unit {
        val localVarResponse = deleteActivityWithHttpInfo(activityId = activityId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/activities/{activity_id}
     * 
     * 
     * @param activityId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteActivityWithHttpInfo(activityId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteActivityRequestConfig(activityId = activityId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteActivity
     *
     * @param activityId 
     * @return RequestConfig
     */
    fun deleteActivityRequestConfig(activityId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/activities/{activity_id}".replace("{"+"activity_id"+"}", encodeURIComponent(activityId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/activities/{activity_id}
     * 
     * 
     * @param activityId 
     * @return Activity
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getActivity(activityId: kotlin.String) : Activity {
        val localVarResponse = getActivityWithHttpInfo(activityId = activityId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Activity
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/activities/{activity_id}
     * 
     * 
     * @param activityId 
     * @return ApiResponse<Activity?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getActivityWithHttpInfo(activityId: kotlin.String) : ApiResponse<Activity?> {
        val localVariableConfig = getActivityRequestConfig(activityId = activityId)

        return request<Unit, Activity>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getActivity
     *
     * @param activityId 
     * @return RequestConfig
     */
    fun getActivityRequestConfig(activityId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/activities/{activity_id}".replace("{"+"activity_id"+"}", encodeURIComponent(activityId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/activities/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param contactId  (optional)
     * @param activityType  (optional)
     * @param status  (optional)
     * @param assignedTo  (optional)
     * @param overdueOnly Only show overdue follow-ups. (optional)
     * @return kotlin.collections.List<Activity>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listActivities(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, contactId: kotlin.String? = null, activityType: kotlin.String? = null, status: kotlin.String? = null, assignedTo: kotlin.String? = null, overdueOnly: kotlin.Boolean? = null) : kotlin.collections.List<Activity> {
        val localVarResponse = listActivitiesWithHttpInfo(page = page, pageSize = pageSize, contactId = contactId, activityType = activityType, status = status, assignedTo = assignedTo, overdueOnly = overdueOnly)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Activity>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/activities/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param contactId  (optional)
     * @param activityType  (optional)
     * @param status  (optional)
     * @param assignedTo  (optional)
     * @param overdueOnly Only show overdue follow-ups. (optional)
     * @return ApiResponse<kotlin.collections.List<Activity>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listActivitiesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, contactId: kotlin.String?, activityType: kotlin.String?, status: kotlin.String?, assignedTo: kotlin.String?, overdueOnly: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<Activity>?> {
        val localVariableConfig = listActivitiesRequestConfig(page = page, pageSize = pageSize, contactId = contactId, activityType = activityType, status = status, assignedTo = assignedTo, overdueOnly = overdueOnly)

        return request<Unit, kotlin.collections.List<Activity>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listActivities
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param contactId  (optional)
     * @param activityType  (optional)
     * @param status  (optional)
     * @param assignedTo  (optional)
     * @param overdueOnly Only show overdue follow-ups. (optional)
     * @return RequestConfig
     */
    fun listActivitiesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, contactId: kotlin.String?, activityType: kotlin.String?, status: kotlin.String?, assignedTo: kotlin.String?, overdueOnly: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (contactId != null) {
                    put("contactId", listOf(contactId.toString()))
                }
                if (activityType != null) {
                    put("activityType", listOf(activityType.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (assignedTo != null) {
                    put("assignedTo", listOf(assignedTo.toString()))
                }
                if (overdueOnly != null) {
                    put("overdueOnly", listOf(overdueOnly.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/activities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/activities/{activity_id}
     * 
     * 
     * @param activityId 
     * @param body 
     * @return Activity
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateActivity(activityId: kotlin.String, body: kotlin.Any) : Activity {
        val localVarResponse = updateActivityWithHttpInfo(activityId = activityId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Activity
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/activities/{activity_id}
     * 
     * 
     * @param activityId 
     * @param body 
     * @return ApiResponse<Activity?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateActivityWithHttpInfo(activityId: kotlin.String, body: kotlin.Any) : ApiResponse<Activity?> {
        val localVariableConfig = updateActivityRequestConfig(activityId = activityId, body = body)

        return request<kotlin.Any, Activity>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateActivity
     *
     * @param activityId 
     * @param body 
     * @return RequestConfig
     */
    fun updateActivityRequestConfig(activityId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/activities/{activity_id}".replace("{"+"activity_id"+"}", encodeURIComponent(activityId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/activities/{activity_id}/status
     * 
     * 
     * @param activityId 
     * @param activityStatusUpdate 
     * @return Activity
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateActivityStatus(activityId: kotlin.String, activityStatusUpdate: ActivityStatusUpdate) : Activity {
        val localVarResponse = updateActivityStatusWithHttpInfo(activityId = activityId, activityStatusUpdate = activityStatusUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Activity
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/activities/{activity_id}/status
     * 
     * 
     * @param activityId 
     * @param activityStatusUpdate 
     * @return ApiResponse<Activity?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateActivityStatusWithHttpInfo(activityId: kotlin.String, activityStatusUpdate: ActivityStatusUpdate) : ApiResponse<Activity?> {
        val localVariableConfig = updateActivityStatusRequestConfig(activityId = activityId, activityStatusUpdate = activityStatusUpdate)

        return request<ActivityStatusUpdate, Activity>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateActivityStatus
     *
     * @param activityId 
     * @param activityStatusUpdate 
     * @return RequestConfig
     */
    fun updateActivityStatusRequestConfig(activityId: kotlin.String, activityStatusUpdate: ActivityStatusUpdate) : RequestConfig<ActivityStatusUpdate> {
        val localVariableBody = activityStatusUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/activities/{activity_id}/status".replace("{"+"activity_id"+"}", encodeURIComponent(activityId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
