/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.CommunicationChannel
import org.openapitools.client.models.CommunicationDirection
import org.openapitools.client.models.ContactHistoryResponse
import org.openapitools.client.models.CustomerCommunication
import org.openapitools.client.models.CustomerCommunicationCreate
import org.openapitools.client.models.CustomerCommunicationUpdate
import org.openapitools.client.models.PluginError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class CustomerCommunicationApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/communications
     * 
     * 
     * @param customerCommunicationCreate 
     * @return CustomerCommunication
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCommunication(customerCommunicationCreate: CustomerCommunicationCreate) : CustomerCommunication {
        val localVarResponse = createCommunicationWithHttpInfo(customerCommunicationCreate = customerCommunicationCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerCommunication
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/communications
     * 
     * 
     * @param customerCommunicationCreate 
     * @return ApiResponse<CustomerCommunication?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCommunicationWithHttpInfo(customerCommunicationCreate: CustomerCommunicationCreate) : ApiResponse<CustomerCommunication?> {
        val localVariableConfig = createCommunicationRequestConfig(customerCommunicationCreate = customerCommunicationCreate)

        return request<CustomerCommunicationCreate, CustomerCommunication>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCommunication
     *
     * @param customerCommunicationCreate 
     * @return RequestConfig
     */
    fun createCommunicationRequestConfig(customerCommunicationCreate: CustomerCommunicationCreate) : RequestConfig<CustomerCommunicationCreate> {
        val localVariableBody = customerCommunicationCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/communications",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/communications/{communication_id}/restore
     * 
     * 
     * @param communicationId 
     * @return CustomerCommunication
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun customercommunicationRestore(communicationId: kotlin.String) : CustomerCommunication {
        val localVarResponse = customercommunicationRestoreWithHttpInfo(communicationId = communicationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerCommunication
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/communications/{communication_id}/restore
     * 
     * 
     * @param communicationId 
     * @return ApiResponse<CustomerCommunication?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun customercommunicationRestoreWithHttpInfo(communicationId: kotlin.String) : ApiResponse<CustomerCommunication?> {
        val localVariableConfig = customercommunicationRestoreRequestConfig(communicationId = communicationId)

        return request<Unit, CustomerCommunication>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation customercommunicationRestore
     *
     * @param communicationId 
     * @return RequestConfig
     */
    fun customercommunicationRestoreRequestConfig(communicationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/communications/{communication_id}/restore".replace("{"+"communication_id"+"}", encodeURIComponent(communicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/communications/{communication_id}
     * 
     * 
     * @param communicationId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCommunication(communicationId: kotlin.String) : Unit {
        val localVarResponse = deleteCommunicationWithHttpInfo(communicationId = communicationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/communications/{communication_id}
     * 
     * 
     * @param communicationId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCommunicationWithHttpInfo(communicationId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteCommunicationRequestConfig(communicationId = communicationId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCommunication
     *
     * @param communicationId 
     * @return RequestConfig
     */
    fun deleteCommunicationRequestConfig(communicationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/communications/{communication_id}".replace("{"+"communication_id"+"}", encodeURIComponent(communicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/communications/{communication_id}
     * 
     * 
     * @param communicationId 
     * @return CustomerCommunication
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCommunication(communicationId: kotlin.String) : CustomerCommunication {
        val localVarResponse = getCommunicationWithHttpInfo(communicationId = communicationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerCommunication
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/communications/{communication_id}
     * 
     * 
     * @param communicationId 
     * @return ApiResponse<CustomerCommunication?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCommunicationWithHttpInfo(communicationId: kotlin.String) : ApiResponse<CustomerCommunication?> {
        val localVariableConfig = getCommunicationRequestConfig(communicationId = communicationId)

        return request<Unit, CustomerCommunication>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCommunication
     *
     * @param communicationId 
     * @return RequestConfig
     */
    fun getCommunicationRequestConfig(communicationId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/communications/{communication_id}".replace("{"+"communication_id"+"}", encodeURIComponent(communicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/contacts/{contact_id}/communications
     * 
     * 
     * @param contactId 
     * @return ContactHistoryResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getContactHistory(contactId: kotlin.String) : ContactHistoryResponse {
        val localVarResponse = getContactHistoryWithHttpInfo(contactId = contactId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ContactHistoryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/contacts/{contact_id}/communications
     * 
     * 
     * @param contactId 
     * @return ApiResponse<ContactHistoryResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getContactHistoryWithHttpInfo(contactId: kotlin.String) : ApiResponse<ContactHistoryResponse?> {
        val localVariableConfig = getContactHistoryRequestConfig(contactId = contactId)

        return request<Unit, ContactHistoryResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getContactHistory
     *
     * @param contactId 
     * @return RequestConfig
     */
    fun getContactHistoryRequestConfig(contactId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/contacts/{contact_id}/communications".replace("{"+"contact_id"+"}", encodeURIComponent(contactId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/communications/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param contactId Filter history to a single contact. (optional)
     * @param channel  (optional)
     * @param direction  (optional)
     * @param from Only include communications after this ISO date (inclusive). (optional)
     * @param to Only include communications before this ISO date (inclusive). (optional)
     * @return kotlin.collections.List<CustomerCommunication>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listCommunications(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, contactId: kotlin.String? = null, channel: CommunicationChannel? = null, direction: CommunicationDirection? = null, from: java.time.LocalDate? = null, to: java.time.LocalDate? = null) : kotlin.collections.List<CustomerCommunication> {
        val localVarResponse = listCommunicationsWithHttpInfo(page = page, pageSize = pageSize, contactId = contactId, channel = channel, direction = direction, from = from, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CustomerCommunication>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/communications/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param contactId Filter history to a single contact. (optional)
     * @param channel  (optional)
     * @param direction  (optional)
     * @param from Only include communications after this ISO date (inclusive). (optional)
     * @param to Only include communications before this ISO date (inclusive). (optional)
     * @return ApiResponse<kotlin.collections.List<CustomerCommunication>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listCommunicationsWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, contactId: kotlin.String?, channel: CommunicationChannel?, direction: CommunicationDirection?, from: java.time.LocalDate?, to: java.time.LocalDate?) : ApiResponse<kotlin.collections.List<CustomerCommunication>?> {
        val localVariableConfig = listCommunicationsRequestConfig(page = page, pageSize = pageSize, contactId = contactId, channel = channel, direction = direction, from = from, to = to)

        return request<Unit, kotlin.collections.List<CustomerCommunication>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listCommunications
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param contactId Filter history to a single contact. (optional)
     * @param channel  (optional)
     * @param direction  (optional)
     * @param from Only include communications after this ISO date (inclusive). (optional)
     * @param to Only include communications before this ISO date (inclusive). (optional)
     * @return RequestConfig
     */
    fun listCommunicationsRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, contactId: kotlin.String?, channel: CommunicationChannel?, direction: CommunicationDirection?, from: java.time.LocalDate?, to: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (contactId != null) {
                    put("contact_id", listOf(contactId.toString()))
                }
                if (channel != null) {
                    put("channel", listOf(channel.toString()))
                }
                if (direction != null) {
                    put("direction", listOf(direction.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/communications/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/communications/{communication_id}
     * 
     * 
     * @param communicationId 
     * @param customerCommunicationUpdate 
     * @return CustomerCommunication
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateCommunication(communicationId: kotlin.String, customerCommunicationUpdate: CustomerCommunicationUpdate) : CustomerCommunication {
        val localVarResponse = updateCommunicationWithHttpInfo(communicationId = communicationId, customerCommunicationUpdate = customerCommunicationUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CustomerCommunication
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/communications/{communication_id}
     * 
     * 
     * @param communicationId 
     * @param customerCommunicationUpdate 
     * @return ApiResponse<CustomerCommunication?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateCommunicationWithHttpInfo(communicationId: kotlin.String, customerCommunicationUpdate: CustomerCommunicationUpdate) : ApiResponse<CustomerCommunication?> {
        val localVariableConfig = updateCommunicationRequestConfig(communicationId = communicationId, customerCommunicationUpdate = customerCommunicationUpdate)

        return request<CustomerCommunicationUpdate, CustomerCommunication>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateCommunication
     *
     * @param communicationId 
     * @param customerCommunicationUpdate 
     * @return RequestConfig
     */
    fun updateCommunicationRequestConfig(communicationId: kotlin.String, customerCommunicationUpdate: CustomerCommunicationUpdate) : RequestConfig<CustomerCommunicationUpdate> {
        val localVariableBody = customerCommunicationUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/communications/{communication_id}".replace("{"+"communication_id"+"}", encodeURIComponent(communicationId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
