/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.DatevBookingPreview
import org.openapitools.client.models.DatevExportResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class DatevApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * GET /api/v1/bookkeeping/datev/export
     * Export bookkeeping data as DATEV CSV
     * 
     * @param accountSchema  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return DatevExportResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun datevExportApi(accountSchema: kotlin.String? = null, dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : DatevExportResponse {
        val localVarResponse = datevExportApiWithHttpInfo(accountSchema = accountSchema, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DatevExportResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/bookkeeping/datev/export
     * Export bookkeeping data as DATEV CSV
     * 
     * @param accountSchema  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<DatevExportResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun datevExportApiWithHttpInfo(accountSchema: kotlin.String?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<DatevExportResponse?> {
        val localVariableConfig = datevExportApiRequestConfig(accountSchema = accountSchema, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return request<Unit, DatevExportResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation datevExportApi
     *
     * @param accountSchema  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun datevExportApiRequestConfig(accountSchema: kotlin.String?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountSchema != null) {
                    put("account_schema", listOf(accountSchema.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(dateFrom.toString()))
                }
                if (dateTo != null) {
                    put("date_to", listOf(dateTo.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/bookkeeping/datev/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/bookkeeping/datev/preview
     * Exported_datev_bookings: returns formed bookings for review
     * 
     * @param accountSchema  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return kotlin.collections.List<DatevBookingPreview>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun datevPreviewApi(accountSchema: kotlin.String? = null, dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : kotlin.collections.List<DatevBookingPreview> {
        val localVarResponse = datevPreviewApiWithHttpInfo(accountSchema = accountSchema, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<DatevBookingPreview>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/bookkeeping/datev/preview
     * Exported_datev_bookings: returns formed bookings for review
     * 
     * @param accountSchema  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<kotlin.collections.List<DatevBookingPreview>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun datevPreviewApiWithHttpInfo(accountSchema: kotlin.String?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<kotlin.collections.List<DatevBookingPreview>?> {
        val localVariableConfig = datevPreviewApiRequestConfig(accountSchema = accountSchema, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return request<Unit, kotlin.collections.List<DatevBookingPreview>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation datevPreviewApi
     *
     * @param accountSchema  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun datevPreviewApiRequestConfig(accountSchema: kotlin.String?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountSchema != null) {
                    put("account_schema", listOf(accountSchema.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(dateFrom.toString()))
                }
                if (dateTo != null) {
                    put("date_to", listOf(dateTo.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/bookkeeping/datev/preview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
