/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.DeliveryDate
import org.openapitools.client.models.DeliveryDateCreate
import org.openapitools.client.models.DeliveryDateStatusUpdate
import org.openapitools.client.models.PluginError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class DeliveryDateApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/delivery-dates
     * 
     * 
     * @param deliveryDateCreate 
     * @return DeliveryDate
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createDeliveryDate(deliveryDateCreate: DeliveryDateCreate) : DeliveryDate {
        val localVarResponse = createDeliveryDateWithHttpInfo(deliveryDateCreate = deliveryDateCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryDate
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/delivery-dates
     * 
     * 
     * @param deliveryDateCreate 
     * @return ApiResponse<DeliveryDate?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createDeliveryDateWithHttpInfo(deliveryDateCreate: DeliveryDateCreate) : ApiResponse<DeliveryDate?> {
        val localVariableConfig = createDeliveryDateRequestConfig(deliveryDateCreate = deliveryDateCreate)

        return request<DeliveryDateCreate, DeliveryDate>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createDeliveryDate
     *
     * @param deliveryDateCreate 
     * @return RequestConfig
     */
    fun createDeliveryDateRequestConfig(deliveryDateCreate: DeliveryDateCreate) : RequestConfig<DeliveryDateCreate> {
        val localVariableBody = deliveryDateCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/delivery-dates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/delivery-dates/{delivery_date_id}
     * 
     * 
     * @param deliveryDateId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteDeliveryDate(deliveryDateId: kotlin.String) : Unit {
        val localVarResponse = deleteDeliveryDateWithHttpInfo(deliveryDateId = deliveryDateId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/delivery-dates/{delivery_date_id}
     * 
     * 
     * @param deliveryDateId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteDeliveryDateWithHttpInfo(deliveryDateId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteDeliveryDateRequestConfig(deliveryDateId = deliveryDateId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteDeliveryDate
     *
     * @param deliveryDateId 
     * @return RequestConfig
     */
    fun deleteDeliveryDateRequestConfig(deliveryDateId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/delivery-dates/{delivery_date_id}".replace("{"+"delivery_date_id"+"}", encodeURIComponent(deliveryDateId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/delivery-dates/{delivery_date_id}
     * 
     * 
     * @param deliveryDateId 
     * @return DeliveryDate
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDeliveryDate(deliveryDateId: kotlin.String) : DeliveryDate {
        val localVarResponse = getDeliveryDateWithHttpInfo(deliveryDateId = deliveryDateId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryDate
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/delivery-dates/{delivery_date_id}
     * 
     * 
     * @param deliveryDateId 
     * @return ApiResponse<DeliveryDate?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDeliveryDateWithHttpInfo(deliveryDateId: kotlin.String) : ApiResponse<DeliveryDate?> {
        val localVariableConfig = getDeliveryDateRequestConfig(deliveryDateId = deliveryDateId)

        return request<Unit, DeliveryDate>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDeliveryDate
     *
     * @param deliveryDateId 
     * @return RequestConfig
     */
    fun getDeliveryDateRequestConfig(deliveryDateId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/delivery-dates/{delivery_date_id}".replace("{"+"delivery_date_id"+"}", encodeURIComponent(deliveryDateId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/delivery-dates/performance
     * On-time performance summary: how many promised delivery dates were met within a period.
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderNumber  (optional)
     * @param status  (optional)
     * @param from Only dates on or after this date. (optional)
     * @param to Only dates on or before this date. (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDeliveryPerformance(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderNumber: kotlin.String? = null, status: kotlin.String? = null, from: java.time.LocalDate? = null, to: java.time.LocalDate? = null) : kotlin.Any {
        val localVarResponse = getDeliveryPerformanceWithHttpInfo(page = page, pageSize = pageSize, orderNumber = orderNumber, status = status, from = from, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/delivery-dates/performance
     * On-time performance summary: how many promised delivery dates were met within a period.
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderNumber  (optional)
     * @param status  (optional)
     * @param from Only dates on or after this date. (optional)
     * @param to Only dates on or before this date. (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDeliveryPerformanceWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, orderNumber: kotlin.String?, status: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = getDeliveryPerformanceRequestConfig(page = page, pageSize = pageSize, orderNumber = orderNumber, status = status, from = from, to = to)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDeliveryPerformance
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderNumber  (optional)
     * @param status  (optional)
     * @param from Only dates on or after this date. (optional)
     * @param to Only dates on or before this date. (optional)
     * @return RequestConfig
     */
    fun getDeliveryPerformanceRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, orderNumber: kotlin.String?, status: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderNumber != null) {
                    put("orderNumber", listOf(orderNumber.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/delivery-dates/performance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/delivery-dates/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderNumber  (optional)
     * @param status  (optional)
     * @param from Only dates on or after this date. (optional)
     * @param to Only dates on or before this date. (optional)
     * @return kotlin.collections.List<DeliveryDate>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listDeliveryDates(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderNumber: kotlin.String? = null, status: kotlin.String? = null, from: java.time.LocalDate? = null, to: java.time.LocalDate? = null) : kotlin.collections.List<DeliveryDate> {
        val localVarResponse = listDeliveryDatesWithHttpInfo(page = page, pageSize = pageSize, orderNumber = orderNumber, status = status, from = from, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<DeliveryDate>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/delivery-dates/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderNumber  (optional)
     * @param status  (optional)
     * @param from Only dates on or after this date. (optional)
     * @param to Only dates on or before this date. (optional)
     * @return ApiResponse<kotlin.collections.List<DeliveryDate>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listDeliveryDatesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, orderNumber: kotlin.String?, status: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : ApiResponse<kotlin.collections.List<DeliveryDate>?> {
        val localVariableConfig = listDeliveryDatesRequestConfig(page = page, pageSize = pageSize, orderNumber = orderNumber, status = status, from = from, to = to)

        return request<Unit, kotlin.collections.List<DeliveryDate>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listDeliveryDates
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderNumber  (optional)
     * @param status  (optional)
     * @param from Only dates on or after this date. (optional)
     * @param to Only dates on or before this date. (optional)
     * @return RequestConfig
     */
    fun listDeliveryDatesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, orderNumber: kotlin.String?, status: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderNumber != null) {
                    put("orderNumber", listOf(orderNumber.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/delivery-dates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/delivery-dates/{delivery_date_id}
     * 
     * 
     * @param deliveryDateId 
     * @param body 
     * @return DeliveryDate
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateDeliveryDate(deliveryDateId: kotlin.String, body: kotlin.Any) : DeliveryDate {
        val localVarResponse = updateDeliveryDateWithHttpInfo(deliveryDateId = deliveryDateId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryDate
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/delivery-dates/{delivery_date_id}
     * 
     * 
     * @param deliveryDateId 
     * @param body 
     * @return ApiResponse<DeliveryDate?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateDeliveryDateWithHttpInfo(deliveryDateId: kotlin.String, body: kotlin.Any) : ApiResponse<DeliveryDate?> {
        val localVariableConfig = updateDeliveryDateRequestConfig(deliveryDateId = deliveryDateId, body = body)

        return request<kotlin.Any, DeliveryDate>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateDeliveryDate
     *
     * @param deliveryDateId 
     * @param body 
     * @return RequestConfig
     */
    fun updateDeliveryDateRequestConfig(deliveryDateId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/delivery-dates/{delivery_date_id}".replace("{"+"delivery_date_id"+"}", encodeURIComponent(deliveryDateId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/delivery-dates/{delivery_date_id}/status
     * 
     * 
     * @param deliveryDateId 
     * @param deliveryDateStatusUpdate 
     * @return DeliveryDate
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateDeliveryDateStatus(deliveryDateId: kotlin.String, deliveryDateStatusUpdate: DeliveryDateStatusUpdate) : DeliveryDate {
        val localVarResponse = updateDeliveryDateStatusWithHttpInfo(deliveryDateId = deliveryDateId, deliveryDateStatusUpdate = deliveryDateStatusUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryDate
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/delivery-dates/{delivery_date_id}/status
     * 
     * 
     * @param deliveryDateId 
     * @param deliveryDateStatusUpdate 
     * @return ApiResponse<DeliveryDate?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateDeliveryDateStatusWithHttpInfo(deliveryDateId: kotlin.String, deliveryDateStatusUpdate: DeliveryDateStatusUpdate) : ApiResponse<DeliveryDate?> {
        val localVariableConfig = updateDeliveryDateStatusRequestConfig(deliveryDateId = deliveryDateId, deliveryDateStatusUpdate = deliveryDateStatusUpdate)

        return request<DeliveryDateStatusUpdate, DeliveryDate>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateDeliveryDateStatus
     *
     * @param deliveryDateId 
     * @param deliveryDateStatusUpdate 
     * @return RequestConfig
     */
    fun updateDeliveryDateStatusRequestConfig(deliveryDateId: kotlin.String, deliveryDateStatusUpdate: DeliveryDateStatusUpdate) : RequestConfig<DeliveryDateStatusUpdate> {
        val localVariableBody = deliveryDateStatusUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/delivery-dates/{delivery_date_id}/status".replace("{"+"delivery_date_id"+"}", encodeURIComponent(deliveryDateId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
