/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.AppointmentStatusUpdate
import org.openapitools.client.models.DeliveryAppointment
import org.openapitools.client.models.DeliveryAppointmentCreate
import org.openapitools.client.models.PluginError
import org.openapitools.client.models.PublicDeliveryAppointmentRequest
import org.openapitools.client.models.PublicDeliveryAppointmentResponse
import org.openapitools.client.models.PublicDeliveryAppointmentStatusResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class DeliveryAppointmentApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/delivery-appointments
     * 
     * 
     * @param deliveryAppointmentCreate 
     * @return DeliveryAppointment
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createDeliveryAppointment(deliveryAppointmentCreate: DeliveryAppointmentCreate) : DeliveryAppointment {
        val localVarResponse = createDeliveryAppointmentWithHttpInfo(deliveryAppointmentCreate = deliveryAppointmentCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryAppointment
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/delivery-appointments
     * 
     * 
     * @param deliveryAppointmentCreate 
     * @return ApiResponse<DeliveryAppointment?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createDeliveryAppointmentWithHttpInfo(deliveryAppointmentCreate: DeliveryAppointmentCreate) : ApiResponse<DeliveryAppointment?> {
        val localVariableConfig = createDeliveryAppointmentRequestConfig(deliveryAppointmentCreate = deliveryAppointmentCreate)

        return request<DeliveryAppointmentCreate, DeliveryAppointment>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createDeliveryAppointment
     *
     * @param deliveryAppointmentCreate 
     * @return RequestConfig
     */
    fun createDeliveryAppointmentRequestConfig(deliveryAppointmentCreate: DeliveryAppointmentCreate) : RequestConfig<DeliveryAppointmentCreate> {
        val localVariableBody = deliveryAppointmentCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/delivery-appointments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/delivery-appointments/{appointment_id}
     * 
     * 
     * @param appointmentId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteDeliveryAppointment(appointmentId: kotlin.String) : Unit {
        val localVarResponse = deleteDeliveryAppointmentWithHttpInfo(appointmentId = appointmentId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/delivery-appointments/{appointment_id}
     * 
     * 
     * @param appointmentId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteDeliveryAppointmentWithHttpInfo(appointmentId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteDeliveryAppointmentRequestConfig(appointmentId = appointmentId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteDeliveryAppointment
     *
     * @param appointmentId 
     * @return RequestConfig
     */
    fun deleteDeliveryAppointmentRequestConfig(appointmentId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/delivery-appointments/{appointment_id}".replace("{"+"appointment_id"+"}", encodeURIComponent(appointmentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/delivery-appointments/{appointment_id}
     * 
     * 
     * @param appointmentId 
     * @return DeliveryAppointment
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDeliveryAppointment(appointmentId: kotlin.String) : DeliveryAppointment {
        val localVarResponse = getDeliveryAppointmentWithHttpInfo(appointmentId = appointmentId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryAppointment
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/delivery-appointments/{appointment_id}
     * 
     * 
     * @param appointmentId 
     * @return ApiResponse<DeliveryAppointment?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDeliveryAppointmentWithHttpInfo(appointmentId: kotlin.String) : ApiResponse<DeliveryAppointment?> {
        val localVariableConfig = getDeliveryAppointmentRequestConfig(appointmentId = appointmentId)

        return request<Unit, DeliveryAppointment>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDeliveryAppointment
     *
     * @param appointmentId 
     * @return RequestConfig
     */
    fun getDeliveryAppointmentRequestConfig(appointmentId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/delivery-appointments/{appointment_id}".replace("{"+"appointment_id"+"}", encodeURIComponent(appointmentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/public/delivery-appointments/status
     * Supplier/carrier checks appointment status (public, no auth). The appointment is only revealed when email AND token match.
     * 
     * @param appointmentId 
     * @param email 
     * @param token 
     * @return PublicDeliveryAppointmentStatusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPublicDeliveryAppointmentStatus(appointmentId: kotlin.String, email: kotlin.String, token: kotlin.String) : PublicDeliveryAppointmentStatusResponse {
        val localVarResponse = getPublicDeliveryAppointmentStatusWithHttpInfo(appointmentId = appointmentId, email = email, token = token)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PublicDeliveryAppointmentStatusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/public/delivery-appointments/status
     * Supplier/carrier checks appointment status (public, no auth). The appointment is only revealed when email AND token match.
     * 
     * @param appointmentId 
     * @param email 
     * @param token 
     * @return ApiResponse<PublicDeliveryAppointmentStatusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPublicDeliveryAppointmentStatusWithHttpInfo(appointmentId: kotlin.String, email: kotlin.String, token: kotlin.String) : ApiResponse<PublicDeliveryAppointmentStatusResponse?> {
        val localVariableConfig = getPublicDeliveryAppointmentStatusRequestConfig(appointmentId = appointmentId, email = email, token = token)

        return request<Unit, PublicDeliveryAppointmentStatusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPublicDeliveryAppointmentStatus
     *
     * @param appointmentId 
     * @param email 
     * @param token 
     * @return RequestConfig
     */
    fun getPublicDeliveryAppointmentStatusRequestConfig(appointmentId: kotlin.String, email: kotlin.String, token: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("appointmentId", listOf(appointmentId.toString()))
                put("email", listOf(email.toString()))
                put("token", listOf(token.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/public/delivery-appointments/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/delivery-appointments
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param warehouseId  (optional)
     * @param from  (optional)
     * @param to  (optional)
     * @return kotlin.collections.List<DeliveryAppointment>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listDeliveryAppointments(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, status: kotlin.String? = null, warehouseId: kotlin.String? = null, from: java.time.LocalDate? = null, to: java.time.LocalDate? = null) : kotlin.collections.List<DeliveryAppointment> {
        val localVarResponse = listDeliveryAppointmentsWithHttpInfo(page = page, pageSize = pageSize, status = status, warehouseId = warehouseId, from = from, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<DeliveryAppointment>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/delivery-appointments
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param warehouseId  (optional)
     * @param from  (optional)
     * @param to  (optional)
     * @return ApiResponse<kotlin.collections.List<DeliveryAppointment>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listDeliveryAppointmentsWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, warehouseId: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : ApiResponse<kotlin.collections.List<DeliveryAppointment>?> {
        val localVariableConfig = listDeliveryAppointmentsRequestConfig(page = page, pageSize = pageSize, status = status, warehouseId = warehouseId, from = from, to = to)

        return request<Unit, kotlin.collections.List<DeliveryAppointment>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listDeliveryAppointments
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param warehouseId  (optional)
     * @param from  (optional)
     * @param to  (optional)
     * @return RequestConfig
     */
    fun listDeliveryAppointmentsRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, warehouseId: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (warehouseId != null) {
                    put("warehouse_id", listOf(warehouseId.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/delivery-appointments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/public/delivery-appointments/request
     * Supplier/carrier requests an inbound delivery slot (public, no auth). The tenant is derived from the warehouse found by &#x60;code&#x60; — never from the request.
     * 
     * @param publicDeliveryAppointmentRequest 
     * @return PublicDeliveryAppointmentResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun requestPublicDeliveryAppointment(publicDeliveryAppointmentRequest: PublicDeliveryAppointmentRequest) : PublicDeliveryAppointmentResponse {
        val localVarResponse = requestPublicDeliveryAppointmentWithHttpInfo(publicDeliveryAppointmentRequest = publicDeliveryAppointmentRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PublicDeliveryAppointmentResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/public/delivery-appointments/request
     * Supplier/carrier requests an inbound delivery slot (public, no auth). The tenant is derived from the warehouse found by &#x60;code&#x60; — never from the request.
     * 
     * @param publicDeliveryAppointmentRequest 
     * @return ApiResponse<PublicDeliveryAppointmentResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun requestPublicDeliveryAppointmentWithHttpInfo(publicDeliveryAppointmentRequest: PublicDeliveryAppointmentRequest) : ApiResponse<PublicDeliveryAppointmentResponse?> {
        val localVariableConfig = requestPublicDeliveryAppointmentRequestConfig(publicDeliveryAppointmentRequest = publicDeliveryAppointmentRequest)

        return request<PublicDeliveryAppointmentRequest, PublicDeliveryAppointmentResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation requestPublicDeliveryAppointment
     *
     * @param publicDeliveryAppointmentRequest 
     * @return RequestConfig
     */
    fun requestPublicDeliveryAppointmentRequestConfig(publicDeliveryAppointmentRequest: PublicDeliveryAppointmentRequest) : RequestConfig<PublicDeliveryAppointmentRequest> {
        val localVariableBody = publicDeliveryAppointmentRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/public/delivery-appointments/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/delivery-appointments/{appointment_id}
     * 
     * 
     * @param appointmentId 
     * @param body 
     * @return DeliveryAppointment
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateDeliveryAppointment(appointmentId: kotlin.String, body: kotlin.Any) : DeliveryAppointment {
        val localVarResponse = updateDeliveryAppointmentWithHttpInfo(appointmentId = appointmentId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryAppointment
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/delivery-appointments/{appointment_id}
     * 
     * 
     * @param appointmentId 
     * @param body 
     * @return ApiResponse<DeliveryAppointment?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateDeliveryAppointmentWithHttpInfo(appointmentId: kotlin.String, body: kotlin.Any) : ApiResponse<DeliveryAppointment?> {
        val localVariableConfig = updateDeliveryAppointmentRequestConfig(appointmentId = appointmentId, body = body)

        return request<kotlin.Any, DeliveryAppointment>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateDeliveryAppointment
     *
     * @param appointmentId 
     * @param body 
     * @return RequestConfig
     */
    fun updateDeliveryAppointmentRequestConfig(appointmentId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/delivery-appointments/{appointment_id}".replace("{"+"appointment_id"+"}", encodeURIComponent(appointmentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/delivery-appointments/{appointment_id}/status
     * 
     * 
     * @param appointmentId 
     * @param appointmentStatusUpdate 
     * @return DeliveryAppointment
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateDeliveryAppointmentStatus(appointmentId: kotlin.String, appointmentStatusUpdate: AppointmentStatusUpdate) : DeliveryAppointment {
        val localVarResponse = updateDeliveryAppointmentStatusWithHttpInfo(appointmentId = appointmentId, appointmentStatusUpdate = appointmentStatusUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryAppointment
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/delivery-appointments/{appointment_id}/status
     * 
     * 
     * @param appointmentId 
     * @param appointmentStatusUpdate 
     * @return ApiResponse<DeliveryAppointment?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateDeliveryAppointmentStatusWithHttpInfo(appointmentId: kotlin.String, appointmentStatusUpdate: AppointmentStatusUpdate) : ApiResponse<DeliveryAppointment?> {
        val localVariableConfig = updateDeliveryAppointmentStatusRequestConfig(appointmentId = appointmentId, appointmentStatusUpdate = appointmentStatusUpdate)

        return request<AppointmentStatusUpdate, DeliveryAppointment>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateDeliveryAppointmentStatus
     *
     * @param appointmentId 
     * @param appointmentStatusUpdate 
     * @return RequestConfig
     */
    fun updateDeliveryAppointmentStatusRequestConfig(appointmentId: kotlin.String, appointmentStatusUpdate: AppointmentStatusUpdate) : RequestConfig<AppointmentStatusUpdate> {
        val localVariableBody = appointmentStatusUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/delivery-appointments/{appointment_id}/status".replace("{"+"appointment_id"+"}", encodeURIComponent(appointmentId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
