/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.GoodsReceipt
import org.openapitools.client.models.PluginError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class GoodsReceiptApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/goods-receipts
     * 
     * 
     * @param goodsReceipt 
     * @return GoodsReceipt
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createGoodsReceipt(goodsReceipt: GoodsReceipt) : GoodsReceipt {
        val localVarResponse = createGoodsReceiptWithHttpInfo(goodsReceipt = goodsReceipt)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GoodsReceipt
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/goods-receipts
     * 
     * 
     * @param goodsReceipt 
     * @return ApiResponse<GoodsReceipt?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createGoodsReceiptWithHttpInfo(goodsReceipt: GoodsReceipt) : ApiResponse<GoodsReceipt?> {
        val localVariableConfig = createGoodsReceiptRequestConfig(goodsReceipt = goodsReceipt)

        return request<GoodsReceipt, GoodsReceipt>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createGoodsReceipt
     *
     * @param goodsReceipt 
     * @return RequestConfig
     */
    fun createGoodsReceiptRequestConfig(goodsReceipt: GoodsReceipt) : RequestConfig<GoodsReceipt> {
        val localVariableBody = goodsReceipt
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/goods-receipts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/goods-receipts/{goods_receipt_id}
     * 
     * 
     * @param goodsReceiptId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteGoodsReceipt(goodsReceiptId: kotlin.String) : Unit {
        val localVarResponse = deleteGoodsReceiptWithHttpInfo(goodsReceiptId = goodsReceiptId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/goods-receipts/{goods_receipt_id}
     * 
     * 
     * @param goodsReceiptId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteGoodsReceiptWithHttpInfo(goodsReceiptId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteGoodsReceiptRequestConfig(goodsReceiptId = goodsReceiptId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteGoodsReceipt
     *
     * @param goodsReceiptId 
     * @return RequestConfig
     */
    fun deleteGoodsReceiptRequestConfig(goodsReceiptId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/goods-receipts/{goods_receipt_id}".replace("{"+"goods_receipt_id"+"}", encodeURIComponent(goodsReceiptId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/goods-receipts/{goods_receipt_id}
     * 
     * 
     * @param goodsReceiptId 
     * @return GoodsReceipt
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGoodsReceipt(goodsReceiptId: kotlin.String) : GoodsReceipt {
        val localVarResponse = getGoodsReceiptWithHttpInfo(goodsReceiptId = goodsReceiptId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GoodsReceipt
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/goods-receipts/{goods_receipt_id}
     * 
     * 
     * @param goodsReceiptId 
     * @return ApiResponse<GoodsReceipt?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGoodsReceiptWithHttpInfo(goodsReceiptId: kotlin.String) : ApiResponse<GoodsReceipt?> {
        val localVariableConfig = getGoodsReceiptRequestConfig(goodsReceiptId = goodsReceiptId)

        return request<Unit, GoodsReceipt>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGoodsReceipt
     *
     * @param goodsReceiptId 
     * @return RequestConfig
     */
    fun getGoodsReceiptRequestConfig(goodsReceiptId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/goods-receipts/{goods_receipt_id}".replace("{"+"goods_receipt_id"+"}", encodeURIComponent(goodsReceiptId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/goods-receipts/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param purchaseOrderId  (optional)
     * @param supplierName  (optional)
     * @param warehouseId  (optional)
     * @return kotlin.collections.List<GoodsReceipt>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listGoodsReceipts(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, purchaseOrderId: kotlin.String? = null, supplierName: kotlin.String? = null, warehouseId: kotlin.String? = null) : kotlin.collections.List<GoodsReceipt> {
        val localVarResponse = listGoodsReceiptsWithHttpInfo(page = page, pageSize = pageSize, purchaseOrderId = purchaseOrderId, supplierName = supplierName, warehouseId = warehouseId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<GoodsReceipt>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/goods-receipts/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param purchaseOrderId  (optional)
     * @param supplierName  (optional)
     * @param warehouseId  (optional)
     * @return ApiResponse<kotlin.collections.List<GoodsReceipt>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listGoodsReceiptsWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, purchaseOrderId: kotlin.String?, supplierName: kotlin.String?, warehouseId: kotlin.String?) : ApiResponse<kotlin.collections.List<GoodsReceipt>?> {
        val localVariableConfig = listGoodsReceiptsRequestConfig(page = page, pageSize = pageSize, purchaseOrderId = purchaseOrderId, supplierName = supplierName, warehouseId = warehouseId)

        return request<Unit, kotlin.collections.List<GoodsReceipt>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGoodsReceipts
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param purchaseOrderId  (optional)
     * @param supplierName  (optional)
     * @param warehouseId  (optional)
     * @return RequestConfig
     */
    fun listGoodsReceiptsRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, purchaseOrderId: kotlin.String?, supplierName: kotlin.String?, warehouseId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (purchaseOrderId != null) {
                    put("purchase_order_id", listOf(purchaseOrderId.toString()))
                }
                if (supplierName != null) {
                    put("supplier_name", listOf(supplierName.toString()))
                }
                if (warehouseId != null) {
                    put("warehouse_id", listOf(warehouseId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/goods-receipts/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
