/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.Lead
import org.openapitools.client.models.LeadUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class LeadApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * GET /api/v1/support/leads
     * 
     * 
     * @param status  (optional)
     * @param source  (optional)
     * @param search  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return kotlin.collections.List<Lead>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listLeadsApi(status: kotlin.String? = null, source: kotlin.String? = null, search: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : kotlin.collections.List<Lead> {
        val localVarResponse = listLeadsApiWithHttpInfo(status = status, source = source, search = search, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Lead>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/support/leads
     * 
     * 
     * @param status  (optional)
     * @param source  (optional)
     * @param search  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<kotlin.collections.List<Lead>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listLeadsApiWithHttpInfo(status: kotlin.String?, source: kotlin.String?, search: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<kotlin.collections.List<Lead>?> {
        val localVariableConfig = listLeadsApiRequestConfig(status = status, source = source, search = search, page = page, pageSize = pageSize)

        return request<Unit, kotlin.collections.List<Lead>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listLeadsApi
     *
     * @param status  (optional)
     * @param source  (optional)
     * @param search  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun listLeadsApiRequestConfig(status: kotlin.String?, source: kotlin.String?, search: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/support/leads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/support/leads/{lead_id}
     * 
     * 
     * @param leadId 
     * @param leadUpdate 
     * @return Lead
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateLeadApi(leadId: java.util.UUID, leadUpdate: LeadUpdate) : Lead {
        val localVarResponse = updateLeadApiWithHttpInfo(leadId = leadId, leadUpdate = leadUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Lead
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/support/leads/{lead_id}
     * 
     * 
     * @param leadId 
     * @param leadUpdate 
     * @return ApiResponse<Lead?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateLeadApiWithHttpInfo(leadId: java.util.UUID, leadUpdate: LeadUpdate) : ApiResponse<Lead?> {
        val localVariableConfig = updateLeadApiRequestConfig(leadId = leadId, leadUpdate = leadUpdate)

        return request<LeadUpdate, Lead>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateLeadApi
     *
     * @param leadId 
     * @param leadUpdate 
     * @return RequestConfig
     */
    fun updateLeadApiRequestConfig(leadId: java.util.UUID, leadUpdate: LeadUpdate) : RequestConfig<LeadUpdate> {
        val localVariableBody = leadUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/support/leads/{lead_id}".replace("{"+"lead_id"+"}", encodeURIComponent(leadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
