/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.LegalDocument
import org.openapitools.client.models.LegalDocumentReset
import org.openapitools.client.models.LegalDocumentUpsert
import org.openapitools.client.models.PluginError

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class LegalDocumentApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * GET /api/v1/legal/documents
     * List all legal documents of the tenant. Missing documents are seeded from the default texts (with tenant placeholders replaced) on first access.
     * 
     * @return kotlin.collections.List<LegalDocument>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getLegalDocuments() : kotlin.collections.List<LegalDocument> {
        val localVarResponse = getLegalDocumentsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<LegalDocument>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/legal/documents
     * List all legal documents of the tenant. Missing documents are seeded from the default texts (with tenant placeholders replaced) on first access.
     * 
     * @return ApiResponse<kotlin.collections.List<LegalDocument>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getLegalDocumentsWithHttpInfo() : ApiResponse<kotlin.collections.List<LegalDocument>?> {
        val localVariableConfig = getLegalDocumentsRequestConfig()

        return request<Unit, kotlin.collections.List<LegalDocument>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getLegalDocuments
     *
     * @return RequestConfig
     */
    fun getLegalDocumentsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/legal/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/legal/documents/reset
     * Restore default texts for all documents (or a single doc_type/lang when the optional filter is given). Returns the full tenant list.
     * 
     * @param legalDocumentReset 
     * @return kotlin.collections.List<LegalDocument>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun resetLegalDocuments(legalDocumentReset: LegalDocumentReset) : kotlin.collections.List<LegalDocument> {
        val localVarResponse = resetLegalDocumentsWithHttpInfo(legalDocumentReset = legalDocumentReset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<LegalDocument>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/legal/documents/reset
     * Restore default texts for all documents (or a single doc_type/lang when the optional filter is given). Returns the full tenant list.
     * 
     * @param legalDocumentReset 
     * @return ApiResponse<kotlin.collections.List<LegalDocument>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun resetLegalDocumentsWithHttpInfo(legalDocumentReset: LegalDocumentReset) : ApiResponse<kotlin.collections.List<LegalDocument>?> {
        val localVariableConfig = resetLegalDocumentsRequestConfig(legalDocumentReset = legalDocumentReset)

        return request<LegalDocumentReset, kotlin.collections.List<LegalDocument>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation resetLegalDocuments
     *
     * @param legalDocumentReset 
     * @return RequestConfig
     */
    fun resetLegalDocumentsRequestConfig(legalDocumentReset: LegalDocumentReset) : RequestConfig<LegalDocumentReset> {
        val localVariableBody = legalDocumentReset
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/legal/documents/reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/legal/documents
     * Upsert legal documents per (doc_type, lang). Returns the full tenant list.
     * 
     * @param legalDocumentUpsert 
     * @return kotlin.collections.List<LegalDocument>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun upsertLegalDocuments(legalDocumentUpsert: kotlin.collections.List<LegalDocumentUpsert>) : kotlin.collections.List<LegalDocument> {
        val localVarResponse = upsertLegalDocumentsWithHttpInfo(legalDocumentUpsert = legalDocumentUpsert)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<LegalDocument>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/legal/documents
     * Upsert legal documents per (doc_type, lang). Returns the full tenant list.
     * 
     * @param legalDocumentUpsert 
     * @return ApiResponse<kotlin.collections.List<LegalDocument>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun upsertLegalDocumentsWithHttpInfo(legalDocumentUpsert: kotlin.collections.List<LegalDocumentUpsert>) : ApiResponse<kotlin.collections.List<LegalDocument>?> {
        val localVariableConfig = upsertLegalDocumentsRequestConfig(legalDocumentUpsert = legalDocumentUpsert)

        return request<kotlin.collections.List<LegalDocumentUpsert>, kotlin.collections.List<LegalDocument>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation upsertLegalDocuments
     *
     * @param legalDocumentUpsert 
     * @return RequestConfig
     */
    fun upsertLegalDocumentsRequestConfig(legalDocumentUpsert: kotlin.collections.List<LegalDocumentUpsert>) : RequestConfig<kotlin.collections.List<LegalDocumentUpsert>> {
        val localVariableBody = legalDocumentUpsert
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/legal/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
