/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.PriceTier
import org.openapitools.client.models.PriceTierCreate
import org.openapitools.client.models.PriceTierUpdate
import org.openapitools.client.models.ResolvedPriceResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class PriceTierApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/price-tiers
     * 
     * 
     * @param priceTierCreate 
     * @return PriceTier
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createPriceTier(priceTierCreate: PriceTierCreate) : PriceTier {
        val localVarResponse = createPriceTierWithHttpInfo(priceTierCreate = priceTierCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PriceTier
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/price-tiers
     * 
     * 
     * @param priceTierCreate 
     * @return ApiResponse<PriceTier?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createPriceTierWithHttpInfo(priceTierCreate: PriceTierCreate) : ApiResponse<PriceTier?> {
        val localVariableConfig = createPriceTierRequestConfig(priceTierCreate = priceTierCreate)

        return request<PriceTierCreate, PriceTier>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPriceTier
     *
     * @param priceTierCreate 
     * @return RequestConfig
     */
    fun createPriceTierRequestConfig(priceTierCreate: PriceTierCreate) : RequestConfig<PriceTierCreate> {
        val localVariableBody = priceTierCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/price-tiers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/price-tiers/{price_tier_id}
     * 
     * 
     * @param priceTierId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deletePriceTier(priceTierId: kotlin.String) : Unit {
        val localVarResponse = deletePriceTierWithHttpInfo(priceTierId = priceTierId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/price-tiers/{price_tier_id}
     * 
     * 
     * @param priceTierId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deletePriceTierWithHttpInfo(priceTierId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deletePriceTierRequestConfig(priceTierId = priceTierId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deletePriceTier
     *
     * @param priceTierId 
     * @return RequestConfig
     */
    fun deletePriceTierRequestConfig(priceTierId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/price-tiers/{price_tier_id}".replace("{"+"price_tier_id"+"}", encodeURIComponent(priceTierId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/price-tiers/{price_tier_id}
     * 
     * 
     * @param priceTierId 
     * @return PriceTier
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPriceTier(priceTierId: kotlin.String) : PriceTier {
        val localVarResponse = getPriceTierWithHttpInfo(priceTierId = priceTierId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PriceTier
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/price-tiers/{price_tier_id}
     * 
     * 
     * @param priceTierId 
     * @return ApiResponse<PriceTier?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPriceTierWithHttpInfo(priceTierId: kotlin.String) : ApiResponse<PriceTier?> {
        val localVariableConfig = getPriceTierRequestConfig(priceTierId = priceTierId)

        return request<Unit, PriceTier>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPriceTier
     *
     * @param priceTierId 
     * @return RequestConfig
     */
    fun getPriceTierRequestConfig(priceTierId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/price-tiers/{price_tier_id}".replace("{"+"price_tier_id"+"}", encodeURIComponent(priceTierId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/price-tiers/resolved
     * 
     * 
     * @param productId 
     * @param quantity  (optional)
     * @param contactId Contact used to match customer-group-scoped tiers. (optional)
     * @return ResolvedPriceResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getResolvedPrice(productId: java.util.UUID, quantity: kotlin.Long? = null, contactId: kotlin.String? = null) : ResolvedPriceResponse {
        val localVarResponse = getResolvedPriceWithHttpInfo(productId = productId, quantity = quantity, contactId = contactId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ResolvedPriceResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/price-tiers/resolved
     * 
     * 
     * @param productId 
     * @param quantity  (optional)
     * @param contactId Contact used to match customer-group-scoped tiers. (optional)
     * @return ApiResponse<ResolvedPriceResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getResolvedPriceWithHttpInfo(productId: java.util.UUID, quantity: kotlin.Long?, contactId: kotlin.String?) : ApiResponse<ResolvedPriceResponse?> {
        val localVariableConfig = getResolvedPriceRequestConfig(productId = productId, quantity = quantity, contactId = contactId)

        return request<Unit, ResolvedPriceResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getResolvedPrice
     *
     * @param productId 
     * @param quantity  (optional)
     * @param contactId Contact used to match customer-group-scoped tiers. (optional)
     * @return RequestConfig
     */
    fun getResolvedPriceRequestConfig(productId: java.util.UUID, quantity: kotlin.Long?, contactId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("productId", listOf(productId.toString()))
                if (quantity != null) {
                    put("quantity", listOf(quantity.toString()))
                }
                if (contactId != null) {
                    put("contactId", listOf(contactId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/price-tiers/resolved",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/price-tiers/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param customerGroupId  (optional)
     * @return kotlin.collections.List<PriceTier>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPriceTiers(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, productId: java.util.UUID? = null, customerGroupId: kotlin.String? = null) : kotlin.collections.List<PriceTier> {
        val localVarResponse = listPriceTiersWithHttpInfo(page = page, pageSize = pageSize, productId = productId, customerGroupId = customerGroupId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<PriceTier>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/price-tiers/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param customerGroupId  (optional)
     * @return ApiResponse<kotlin.collections.List<PriceTier>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPriceTiersWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, customerGroupId: kotlin.String?) : ApiResponse<kotlin.collections.List<PriceTier>?> {
        val localVariableConfig = listPriceTiersRequestConfig(page = page, pageSize = pageSize, productId = productId, customerGroupId = customerGroupId)

        return request<Unit, kotlin.collections.List<PriceTier>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPriceTiers
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param customerGroupId  (optional)
     * @return RequestConfig
     */
    fun listPriceTiersRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, customerGroupId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (productId != null) {
                    put("product_id", listOf(productId.toString()))
                }
                if (customerGroupId != null) {
                    put("customer_group_id", listOf(customerGroupId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/price-tiers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/price-tiers/{price_tier_id}
     * 
     * 
     * @param priceTierId 
     * @param priceTierUpdate 
     * @return PriceTier
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updatePriceTier(priceTierId: kotlin.String, priceTierUpdate: PriceTierUpdate) : PriceTier {
        val localVarResponse = updatePriceTierWithHttpInfo(priceTierId = priceTierId, priceTierUpdate = priceTierUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PriceTier
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/price-tiers/{price_tier_id}
     * 
     * 
     * @param priceTierId 
     * @param priceTierUpdate 
     * @return ApiResponse<PriceTier?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updatePriceTierWithHttpInfo(priceTierId: kotlin.String, priceTierUpdate: PriceTierUpdate) : ApiResponse<PriceTier?> {
        val localVariableConfig = updatePriceTierRequestConfig(priceTierId = priceTierId, priceTierUpdate = priceTierUpdate)

        return request<PriceTierUpdate, PriceTier>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updatePriceTier
     *
     * @param priceTierId 
     * @param priceTierUpdate 
     * @return RequestConfig
     */
    fun updatePriceTierRequestConfig(priceTierId: kotlin.String, priceTierUpdate: PriceTierUpdate) : RequestConfig<PriceTierUpdate> {
        val localVariableBody = priceTierUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/price-tiers/{price_tier_id}".replace("{"+"price_tier_id"+"}", encodeURIComponent(priceTierId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
