/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.ProductAttribute
import org.openapitools.client.models.ProductAttributeCreate
import org.openapitools.client.models.ProductAttributeUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ProductAttributeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/product-attributes
     * 
     * 
     * @param productAttributeCreate 
     * @return ProductAttribute
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createProductAttribute(productAttributeCreate: ProductAttributeCreate) : ProductAttribute {
        val localVarResponse = createProductAttributeWithHttpInfo(productAttributeCreate = productAttributeCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductAttribute
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/product-attributes
     * 
     * 
     * @param productAttributeCreate 
     * @return ApiResponse<ProductAttribute?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createProductAttributeWithHttpInfo(productAttributeCreate: ProductAttributeCreate) : ApiResponse<ProductAttribute?> {
        val localVariableConfig = createProductAttributeRequestConfig(productAttributeCreate = productAttributeCreate)

        return request<ProductAttributeCreate, ProductAttribute>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createProductAttribute
     *
     * @param productAttributeCreate 
     * @return RequestConfig
     */
    fun createProductAttributeRequestConfig(productAttributeCreate: ProductAttributeCreate) : RequestConfig<ProductAttributeCreate> {
        val localVariableBody = productAttributeCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/product-attributes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/product-attributes/{attribute_id}
     * 
     * 
     * @param attributeId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProductAttribute(attributeId: kotlin.String) : Unit {
        val localVarResponse = deleteProductAttributeWithHttpInfo(attributeId = attributeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/product-attributes/{attribute_id}
     * 
     * 
     * @param attributeId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProductAttributeWithHttpInfo(attributeId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteProductAttributeRequestConfig(attributeId = attributeId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProductAttribute
     *
     * @param attributeId 
     * @return RequestConfig
     */
    fun deleteProductAttributeRequestConfig(attributeId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/product-attributes/{attribute_id}".replace("{"+"attribute_id"+"}", encodeURIComponent(attributeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/product-attributes/{attribute_id}
     * 
     * 
     * @param attributeId 
     * @return ProductAttribute
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProductAttribute(attributeId: kotlin.String) : ProductAttribute {
        val localVarResponse = getProductAttributeWithHttpInfo(attributeId = attributeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductAttribute
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/product-attributes/{attribute_id}
     * 
     * 
     * @param attributeId 
     * @return ApiResponse<ProductAttribute?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProductAttributeWithHttpInfo(attributeId: kotlin.String) : ApiResponse<ProductAttribute?> {
        val localVariableConfig = getProductAttributeRequestConfig(attributeId = attributeId)

        return request<Unit, ProductAttribute>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProductAttribute
     *
     * @param attributeId 
     * @return RequestConfig
     */
    fun getProductAttributeRequestConfig(attributeId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/product-attributes/{attribute_id}".replace("{"+"attribute_id"+"}", encodeURIComponent(attributeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/product-attributes/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param isFilterable  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<ProductAttribute>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listProductAttributes(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, productId: java.util.UUID? = null, isFilterable: kotlin.Boolean? = null, search: kotlin.String? = null) : kotlin.collections.List<ProductAttribute> {
        val localVarResponse = listProductAttributesWithHttpInfo(page = page, pageSize = pageSize, productId = productId, isFilterable = isFilterable, search = search)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProductAttribute>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/product-attributes/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param isFilterable  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<ProductAttribute>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listProductAttributesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, isFilterable: kotlin.Boolean?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<ProductAttribute>?> {
        val localVariableConfig = listProductAttributesRequestConfig(page = page, pageSize = pageSize, productId = productId, isFilterable = isFilterable, search = search)

        return request<Unit, kotlin.collections.List<ProductAttribute>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listProductAttributes
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param isFilterable  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun listProductAttributesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, isFilterable: kotlin.Boolean?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (productId != null) {
                    put("product_id", listOf(productId.toString()))
                }
                if (isFilterable != null) {
                    put("is_filterable", listOf(isFilterable.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/product-attributes/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/product-attributes/{attribute_id}
     * 
     * 
     * @param attributeId 
     * @param productAttributeUpdate 
     * @return ProductAttribute
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateProductAttribute(attributeId: kotlin.String, productAttributeUpdate: ProductAttributeUpdate) : ProductAttribute {
        val localVarResponse = updateProductAttributeWithHttpInfo(attributeId = attributeId, productAttributeUpdate = productAttributeUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProductAttribute
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/product-attributes/{attribute_id}
     * 
     * 
     * @param attributeId 
     * @param productAttributeUpdate 
     * @return ApiResponse<ProductAttribute?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateProductAttributeWithHttpInfo(attributeId: kotlin.String, productAttributeUpdate: ProductAttributeUpdate) : ApiResponse<ProductAttribute?> {
        val localVariableConfig = updateProductAttributeRequestConfig(attributeId = attributeId, productAttributeUpdate = productAttributeUpdate)

        return request<ProductAttributeUpdate, ProductAttribute>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateProductAttribute
     *
     * @param attributeId 
     * @param productAttributeUpdate 
     * @return RequestConfig
     */
    fun updateProductAttributeRequestConfig(attributeId: kotlin.String, productAttributeUpdate: ProductAttributeUpdate) : RequestConfig<ProductAttributeUpdate> {
        val localVariableBody = productAttributeUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/product-attributes/{attribute_id}".replace("{"+"attribute_id"+"}", encodeURIComponent(attributeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
