/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ConvertResponse
import org.openapitools.client.models.PluginError
import org.openapitools.client.models.ProformaInvoice

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ProformaInvoiceApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/proforma-invoices/{proforma_id}/convert
     * 
     * 
     * @param proformaId 
     * @return ConvertResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun convertProformaToInvoice(proformaId: kotlin.String) : ConvertResponse {
        val localVarResponse = convertProformaToInvoiceWithHttpInfo(proformaId = proformaId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConvertResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/proforma-invoices/{proforma_id}/convert
     * 
     * 
     * @param proformaId 
     * @return ApiResponse<ConvertResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun convertProformaToInvoiceWithHttpInfo(proformaId: kotlin.String) : ApiResponse<ConvertResponse?> {
        val localVariableConfig = convertProformaToInvoiceRequestConfig(proformaId = proformaId)

        return request<Unit, ConvertResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation convertProformaToInvoice
     *
     * @param proformaId 
     * @return RequestConfig
     */
    fun convertProformaToInvoiceRequestConfig(proformaId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/proforma-invoices/{proforma_id}/convert".replace("{"+"proforma_id"+"}", encodeURIComponent(proformaId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/proforma-invoices
     * 
     * 
     * @param proformaInvoice 
     * @return ProformaInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createProformaInvoice(proformaInvoice: ProformaInvoice) : ProformaInvoice {
        val localVarResponse = createProformaInvoiceWithHttpInfo(proformaInvoice = proformaInvoice)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProformaInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/proforma-invoices
     * 
     * 
     * @param proformaInvoice 
     * @return ApiResponse<ProformaInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createProformaInvoiceWithHttpInfo(proformaInvoice: ProformaInvoice) : ApiResponse<ProformaInvoice?> {
        val localVariableConfig = createProformaInvoiceRequestConfig(proformaInvoice = proformaInvoice)

        return request<ProformaInvoice, ProformaInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createProformaInvoice
     *
     * @param proformaInvoice 
     * @return RequestConfig
     */
    fun createProformaInvoiceRequestConfig(proformaInvoice: ProformaInvoice) : RequestConfig<ProformaInvoice> {
        val localVariableBody = proformaInvoice
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/proforma-invoices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/proforma-invoices/{proforma_id}
     * 
     * 
     * @param proformaId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteProformaInvoice(proformaId: kotlin.String) : Unit {
        val localVarResponse = deleteProformaInvoiceWithHttpInfo(proformaId = proformaId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/proforma-invoices/{proforma_id}
     * 
     * 
     * @param proformaId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteProformaInvoiceWithHttpInfo(proformaId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteProformaInvoiceRequestConfig(proformaId = proformaId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteProformaInvoice
     *
     * @param proformaId 
     * @return RequestConfig
     */
    fun deleteProformaInvoiceRequestConfig(proformaId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/proforma-invoices/{proforma_id}".replace("{"+"proforma_id"+"}", encodeURIComponent(proformaId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/proforma-invoices/{proforma_id}
     * 
     * 
     * @param proformaId 
     * @return ProformaInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getProformaInvoice(proformaId: kotlin.String) : ProformaInvoice {
        val localVarResponse = getProformaInvoiceWithHttpInfo(proformaId = proformaId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProformaInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/proforma-invoices/{proforma_id}
     * 
     * 
     * @param proformaId 
     * @return ApiResponse<ProformaInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getProformaInvoiceWithHttpInfo(proformaId: kotlin.String) : ApiResponse<ProformaInvoice?> {
        val localVariableConfig = getProformaInvoiceRequestConfig(proformaId = proformaId)

        return request<Unit, ProformaInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getProformaInvoice
     *
     * @param proformaId 
     * @return RequestConfig
     */
    fun getProformaInvoiceRequestConfig(proformaId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/proforma-invoices/{proforma_id}".replace("{"+"proforma_id"+"}", encodeURIComponent(proformaId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/proforma-invoices/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param customerId  (optional)
     * @param orderNumber  (optional)
     * @return kotlin.collections.List<ProformaInvoice>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listProformaInvoices(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, status: kotlin.String? = null, customerId: kotlin.String? = null, orderNumber: kotlin.String? = null) : kotlin.collections.List<ProformaInvoice> {
        val localVarResponse = listProformaInvoicesWithHttpInfo(page = page, pageSize = pageSize, status = status, customerId = customerId, orderNumber = orderNumber)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProformaInvoice>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/proforma-invoices/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param customerId  (optional)
     * @param orderNumber  (optional)
     * @return ApiResponse<kotlin.collections.List<ProformaInvoice>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listProformaInvoicesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, customerId: kotlin.String?, orderNumber: kotlin.String?) : ApiResponse<kotlin.collections.List<ProformaInvoice>?> {
        val localVariableConfig = listProformaInvoicesRequestConfig(page = page, pageSize = pageSize, status = status, customerId = customerId, orderNumber = orderNumber)

        return request<Unit, kotlin.collections.List<ProformaInvoice>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listProformaInvoices
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param customerId  (optional)
     * @param orderNumber  (optional)
     * @return RequestConfig
     */
    fun listProformaInvoicesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, customerId: kotlin.String?, orderNumber: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (customerId != null) {
                    put("customer_id", listOf(customerId.toString()))
                }
                if (orderNumber != null) {
                    put("order_number", listOf(orderNumber.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/proforma-invoices/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/proforma-invoices/{proforma_id}
     * 
     * 
     * @param proformaId 
     * @param body 
     * @return ProformaInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateProformaInvoice(proformaId: kotlin.String, body: kotlin.Any) : ProformaInvoice {
        val localVarResponse = updateProformaInvoiceWithHttpInfo(proformaId = proformaId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProformaInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/proforma-invoices/{proforma_id}
     * 
     * 
     * @param proformaId 
     * @param body 
     * @return ApiResponse<ProformaInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateProformaInvoiceWithHttpInfo(proformaId: kotlin.String, body: kotlin.Any) : ApiResponse<ProformaInvoice?> {
        val localVariableConfig = updateProformaInvoiceRequestConfig(proformaId = proformaId, body = body)

        return request<kotlin.Any, ProformaInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateProformaInvoice
     *
     * @param proformaId 
     * @param body 
     * @return RequestConfig
     */
    fun updateProformaInvoiceRequestConfig(proformaId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/proforma-invoices/{proforma_id}".replace("{"+"proforma_id"+"}", encodeURIComponent(proformaId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
