/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.InvoiceMatchRequest
import org.openapitools.client.models.PluginError
import org.openapitools.client.models.PurchaseOrder
import org.openapitools.client.models.PurchaseOrderStatusUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class PurchaseOrderApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/purchase-orders
     * 
     * 
     * @param purchaseOrder 
     * @return PurchaseOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createPurchaseOrder(purchaseOrder: PurchaseOrder) : PurchaseOrder {
        val localVarResponse = createPurchaseOrderWithHttpInfo(purchaseOrder = purchaseOrder)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PurchaseOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/purchase-orders
     * 
     * 
     * @param purchaseOrder 
     * @return ApiResponse<PurchaseOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createPurchaseOrderWithHttpInfo(purchaseOrder: PurchaseOrder) : ApiResponse<PurchaseOrder?> {
        val localVariableConfig = createPurchaseOrderRequestConfig(purchaseOrder = purchaseOrder)

        return request<PurchaseOrder, PurchaseOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPurchaseOrder
     *
     * @param purchaseOrder 
     * @return RequestConfig
     */
    fun createPurchaseOrderRequestConfig(purchaseOrder: PurchaseOrder) : RequestConfig<PurchaseOrder> {
        val localVariableBody = purchaseOrder
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/purchase-orders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/purchase-orders/{purchase_order_id}
     * 
     * 
     * @param purchaseOrderId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deletePurchaseOrder(purchaseOrderId: kotlin.String) : Unit {
        val localVarResponse = deletePurchaseOrderWithHttpInfo(purchaseOrderId = purchaseOrderId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/purchase-orders/{purchase_order_id}
     * 
     * 
     * @param purchaseOrderId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deletePurchaseOrderWithHttpInfo(purchaseOrderId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deletePurchaseOrderRequestConfig(purchaseOrderId = purchaseOrderId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deletePurchaseOrder
     *
     * @param purchaseOrderId 
     * @return RequestConfig
     */
    fun deletePurchaseOrderRequestConfig(purchaseOrderId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/purchase-orders/{purchase_order_id}".replace("{"+"purchase_order_id"+"}", encodeURIComponent(purchaseOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/purchase-orders/{purchase_order_id}
     * 
     * 
     * @param purchaseOrderId 
     * @return PurchaseOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPurchaseOrder(purchaseOrderId: kotlin.String) : PurchaseOrder {
        val localVarResponse = getPurchaseOrderWithHttpInfo(purchaseOrderId = purchaseOrderId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PurchaseOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/purchase-orders/{purchase_order_id}
     * 
     * 
     * @param purchaseOrderId 
     * @return ApiResponse<PurchaseOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPurchaseOrderWithHttpInfo(purchaseOrderId: kotlin.String) : ApiResponse<PurchaseOrder?> {
        val localVariableConfig = getPurchaseOrderRequestConfig(purchaseOrderId = purchaseOrderId)

        return request<Unit, PurchaseOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPurchaseOrder
     *
     * @param purchaseOrderId 
     * @return RequestConfig
     */
    fun getPurchaseOrderRequestConfig(purchaseOrderId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/purchase-orders/{purchase_order_id}".replace("{"+"purchase_order_id"+"}", encodeURIComponent(purchaseOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/purchase-orders/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param supplierName  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<PurchaseOrder>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPurchaseOrders(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, status: kotlin.String? = null, supplierName: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<PurchaseOrder> {
        val localVarResponse = listPurchaseOrdersWithHttpInfo(page = page, pageSize = pageSize, status = status, supplierName = supplierName, search = search)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<PurchaseOrder>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/purchase-orders/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param supplierName  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<PurchaseOrder>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPurchaseOrdersWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, supplierName: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<PurchaseOrder>?> {
        val localVariableConfig = listPurchaseOrdersRequestConfig(page = page, pageSize = pageSize, status = status, supplierName = supplierName, search = search)

        return request<Unit, kotlin.collections.List<PurchaseOrder>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPurchaseOrders
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param supplierName  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun listPurchaseOrdersRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, supplierName: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (supplierName != null) {
                    put("supplier_name", listOf(supplierName.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/purchase-orders/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/purchase-orders/{purchase_order_id}/match-invoice
     * 3-way invoice check (Rechnungsprüfung): compares the purchase order line items, the quantities received via goods receipts, and the supplier invoice line items, reporting quantity and price variances per product.
     * 
     * @param purchaseOrderId 
     * @param invoiceMatchRequest 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun matchInvoice(purchaseOrderId: kotlin.String, invoiceMatchRequest: InvoiceMatchRequest) : kotlin.Any {
        val localVarResponse = matchInvoiceWithHttpInfo(purchaseOrderId = purchaseOrderId, invoiceMatchRequest = invoiceMatchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/purchase-orders/{purchase_order_id}/match-invoice
     * 3-way invoice check (Rechnungsprüfung): compares the purchase order line items, the quantities received via goods receipts, and the supplier invoice line items, reporting quantity and price variances per product.
     * 
     * @param purchaseOrderId 
     * @param invoiceMatchRequest 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun matchInvoiceWithHttpInfo(purchaseOrderId: kotlin.String, invoiceMatchRequest: InvoiceMatchRequest) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = matchInvoiceRequestConfig(purchaseOrderId = purchaseOrderId, invoiceMatchRequest = invoiceMatchRequest)

        return request<InvoiceMatchRequest, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation matchInvoice
     *
     * @param purchaseOrderId 
     * @param invoiceMatchRequest 
     * @return RequestConfig
     */
    fun matchInvoiceRequestConfig(purchaseOrderId: kotlin.String, invoiceMatchRequest: InvoiceMatchRequest) : RequestConfig<InvoiceMatchRequest> {
        val localVariableBody = invoiceMatchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/purchase-orders/{purchase_order_id}/match-invoice".replace("{"+"purchase_order_id"+"}", encodeURIComponent(purchaseOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/purchase-orders/{purchase_order_id}
     * 
     * 
     * @param purchaseOrderId 
     * @param body 
     * @return PurchaseOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updatePurchaseOrder(purchaseOrderId: kotlin.String, body: kotlin.Any) : PurchaseOrder {
        val localVarResponse = updatePurchaseOrderWithHttpInfo(purchaseOrderId = purchaseOrderId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PurchaseOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/purchase-orders/{purchase_order_id}
     * 
     * 
     * @param purchaseOrderId 
     * @param body 
     * @return ApiResponse<PurchaseOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updatePurchaseOrderWithHttpInfo(purchaseOrderId: kotlin.String, body: kotlin.Any) : ApiResponse<PurchaseOrder?> {
        val localVariableConfig = updatePurchaseOrderRequestConfig(purchaseOrderId = purchaseOrderId, body = body)

        return request<kotlin.Any, PurchaseOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updatePurchaseOrder
     *
     * @param purchaseOrderId 
     * @param body 
     * @return RequestConfig
     */
    fun updatePurchaseOrderRequestConfig(purchaseOrderId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/purchase-orders/{purchase_order_id}".replace("{"+"purchase_order_id"+"}", encodeURIComponent(purchaseOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/purchase-orders/{purchase_order_id}/status
     * 
     * 
     * @param purchaseOrderId 
     * @param purchaseOrderStatusUpdate 
     * @return PurchaseOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updatePurchaseOrderStatus(purchaseOrderId: kotlin.String, purchaseOrderStatusUpdate: PurchaseOrderStatusUpdate) : PurchaseOrder {
        val localVarResponse = updatePurchaseOrderStatusWithHttpInfo(purchaseOrderId = purchaseOrderId, purchaseOrderStatusUpdate = purchaseOrderStatusUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PurchaseOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/purchase-orders/{purchase_order_id}/status
     * 
     * 
     * @param purchaseOrderId 
     * @param purchaseOrderStatusUpdate 
     * @return ApiResponse<PurchaseOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updatePurchaseOrderStatusWithHttpInfo(purchaseOrderId: kotlin.String, purchaseOrderStatusUpdate: PurchaseOrderStatusUpdate) : ApiResponse<PurchaseOrder?> {
        val localVariableConfig = updatePurchaseOrderStatusRequestConfig(purchaseOrderId = purchaseOrderId, purchaseOrderStatusUpdate = purchaseOrderStatusUpdate)

        return request<PurchaseOrderStatusUpdate, PurchaseOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updatePurchaseOrderStatus
     *
     * @param purchaseOrderId 
     * @param purchaseOrderStatusUpdate 
     * @return RequestConfig
     */
    fun updatePurchaseOrderStatusRequestConfig(purchaseOrderId: kotlin.String, purchaseOrderStatusUpdate: PurchaseOrderStatusUpdate) : RequestConfig<PurchaseOrderStatusUpdate> {
        val localVariableBody = purchaseOrderStatusUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/purchase-orders/{purchase_order_id}/status".replace("{"+"purchase_order_id"+"}", encodeURIComponent(purchaseOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
