/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.ReorderProposalResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ReorderProposalApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/reorder-proposals/apply
     * Convert a reorder proposal into a draft purchase order.
     * Returns the created purchase order id. Suggested line items are generated with the current reorder quantity per product.
     * @param configuredOnly Only include products with a reorder point configured (&#x60;min_stock&#x60;). (optional)
     * @param warehouseId Limit to a single warehouse id. (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun applyReorderProposal(configuredOnly: kotlin.Boolean? = null, warehouseId: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = applyReorderProposalWithHttpInfo(configuredOnly = configuredOnly, warehouseId = warehouseId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/reorder-proposals/apply
     * Convert a reorder proposal into a draft purchase order.
     * Returns the created purchase order id. Suggested line items are generated with the current reorder quantity per product.
     * @param configuredOnly Only include products with a reorder point configured (&#x60;min_stock&#x60;). (optional)
     * @param warehouseId Limit to a single warehouse id. (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun applyReorderProposalWithHttpInfo(configuredOnly: kotlin.Boolean?, warehouseId: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = applyReorderProposalRequestConfig(configuredOnly = configuredOnly, warehouseId = warehouseId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation applyReorderProposal
     *
     * @param configuredOnly Only include products with a reorder point configured (&#x60;min_stock&#x60;). (optional)
     * @param warehouseId Limit to a single warehouse id. (optional)
     * @return RequestConfig
     */
    fun applyReorderProposalRequestConfig(configuredOnly: kotlin.Boolean?, warehouseId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (configuredOnly != null) {
                    put("configuredOnly", listOf(configuredOnly.toString()))
                }
                if (warehouseId != null) {
                    put("warehouseId", listOf(warehouseId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/reorder-proposals/apply",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/reorder-proposals
     * 
     * 
     * @param configuredOnly Only include products with a reorder point configured (&#x60;min_stock&#x60;). (optional)
     * @param warehouseId Limit to a single warehouse id. (optional)
     * @return ReorderProposalResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getReorderProposal(configuredOnly: kotlin.Boolean? = null, warehouseId: kotlin.String? = null) : ReorderProposalResponse {
        val localVarResponse = getReorderProposalWithHttpInfo(configuredOnly = configuredOnly, warehouseId = warehouseId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReorderProposalResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/reorder-proposals
     * 
     * 
     * @param configuredOnly Only include products with a reorder point configured (&#x60;min_stock&#x60;). (optional)
     * @param warehouseId Limit to a single warehouse id. (optional)
     * @return ApiResponse<ReorderProposalResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getReorderProposalWithHttpInfo(configuredOnly: kotlin.Boolean?, warehouseId: kotlin.String?) : ApiResponse<ReorderProposalResponse?> {
        val localVariableConfig = getReorderProposalRequestConfig(configuredOnly = configuredOnly, warehouseId = warehouseId)

        return request<Unit, ReorderProposalResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getReorderProposal
     *
     * @param configuredOnly Only include products with a reorder point configured (&#x60;min_stock&#x60;). (optional)
     * @param warehouseId Limit to a single warehouse id. (optional)
     * @return RequestConfig
     */
    fun getReorderProposalRequestConfig(configuredOnly: kotlin.Boolean?, warehouseId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (configuredOnly != null) {
                    put("configuredOnly", listOf(configuredOnly.toString()))
                }
                if (warehouseId != null) {
                    put("warehouseId", listOf(warehouseId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/reorder-proposals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
