/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.BilanzReport
import org.openapitools.client.models.GuVReport
import org.openapitools.client.models.KontoReport
import org.openapitools.client.models.UmsatzsteuerReport

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ReportsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * GET /api/v1/bookkeeping/reports/bilanz
     * Bilanz (Balance Sheet)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return BilanzReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bilanzReportApi(year: kotlin.Int? = null, month: kotlin.Int? = null, dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : BilanzReport {
        val localVarResponse = bilanzReportApiWithHttpInfo(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BilanzReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/bookkeeping/reports/bilanz
     * Bilanz (Balance Sheet)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<BilanzReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bilanzReportApiWithHttpInfo(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<BilanzReport?> {
        val localVariableConfig = bilanzReportApiRequestConfig(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return request<Unit, BilanzReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bilanzReportApi
     *
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun bilanzReportApiRequestConfig(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (year != null) {
                    put("year", listOf(year.toString()))
                }
                if (month != null) {
                    put("month", listOf(month.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(dateFrom.toString()))
                }
                if (dateTo != null) {
                    put("date_to", listOf(dateTo.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/bookkeeping/reports/bilanz",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/bookkeeping/reports/guv
     * Gewinn- und Verlustrechnung (P&amp;L statement)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return GuVReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun guvReportApi(year: kotlin.Int? = null, month: kotlin.Int? = null, dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : GuVReport {
        val localVarResponse = guvReportApiWithHttpInfo(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GuVReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/bookkeeping/reports/guv
     * Gewinn- und Verlustrechnung (P&amp;L statement)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<GuVReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun guvReportApiWithHttpInfo(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<GuVReport?> {
        val localVariableConfig = guvReportApiRequestConfig(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return request<Unit, GuVReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation guvReportApi
     *
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun guvReportApiRequestConfig(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (year != null) {
                    put("year", listOf(year.toString()))
                }
                if (month != null) {
                    put("month", listOf(month.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(dateFrom.toString()))
                }
                if (dateTo != null) {
                    put("date_to", listOf(dateTo.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/bookkeeping/reports/guv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/bookkeeping/reports/kontenansicht
     * Kontenansicht (Account Overview)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return KontoReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun kontenansichtReportApi(year: kotlin.Int? = null, month: kotlin.Int? = null, dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : KontoReport {
        val localVarResponse = kontenansichtReportApiWithHttpInfo(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KontoReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/bookkeeping/reports/kontenansicht
     * Kontenansicht (Account Overview)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<KontoReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun kontenansichtReportApiWithHttpInfo(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<KontoReport?> {
        val localVariableConfig = kontenansichtReportApiRequestConfig(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return request<Unit, KontoReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kontenansichtReportApi
     *
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun kontenansichtReportApiRequestConfig(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (year != null) {
                    put("year", listOf(year.toString()))
                }
                if (month != null) {
                    put("month", listOf(month.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(dateFrom.toString()))
                }
                if (dateTo != null) {
                    put("date_to", listOf(dateTo.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/bookkeeping/reports/kontenansicht",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/bookkeeping/reports/umsatzsteuer
     * Umsatzsteuer-Voranmeldung (VAT report)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return UmsatzsteuerReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun umsatzsteuerReportApi(year: kotlin.Int? = null, month: kotlin.Int? = null, dateFrom: kotlin.String? = null, dateTo: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : UmsatzsteuerReport {
        val localVarResponse = umsatzsteuerReportApiWithHttpInfo(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UmsatzsteuerReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/bookkeeping/reports/umsatzsteuer
     * Umsatzsteuer-Voranmeldung (VAT report)
     * 
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<UmsatzsteuerReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun umsatzsteuerReportApiWithHttpInfo(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<UmsatzsteuerReport?> {
        val localVariableConfig = umsatzsteuerReportApiRequestConfig(year = year, month = month, dateFrom = dateFrom, dateTo = dateTo, page = page, pageSize = pageSize)

        return request<Unit, UmsatzsteuerReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation umsatzsteuerReportApi
     *
     * @param year  (optional)
     * @param month  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun umsatzsteuerReportApiRequestConfig(year: kotlin.Int?, month: kotlin.Int?, dateFrom: kotlin.String?, dateTo: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (year != null) {
                    put("year", listOf(year.toString()))
                }
                if (month != null) {
                    put("month", listOf(month.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(dateFrom.toString()))
                }
                if (dateTo != null) {
                    put("date_to", listOf(dateTo.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/bookkeeping/reports/umsatzsteuer",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
