/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.ReturnLogisticsQueueItem
import org.openapitools.client.models.ReturnLogisticsSummary
import org.openapitools.client.models.ReturnOrder
import org.openapitools.client.models.ReturnOrderStatusUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ReturnOrderApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/returns
     * 
     * 
     * @param returnOrder 
     * @return ReturnOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createReturnOrder(returnOrder: ReturnOrder) : ReturnOrder {
        val localVarResponse = createReturnOrderWithHttpInfo(returnOrder = returnOrder)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReturnOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/returns
     * 
     * 
     * @param returnOrder 
     * @return ApiResponse<ReturnOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createReturnOrderWithHttpInfo(returnOrder: ReturnOrder) : ApiResponse<ReturnOrder?> {
        val localVariableConfig = createReturnOrderRequestConfig(returnOrder = returnOrder)

        return request<ReturnOrder, ReturnOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createReturnOrder
     *
     * @param returnOrder 
     * @return RequestConfig
     */
    fun createReturnOrderRequestConfig(returnOrder: ReturnOrder) : RequestConfig<ReturnOrder> {
        val localVariableBody = returnOrder
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/returns",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/returns/{return_order_id}
     * 
     * 
     * @param returnOrderId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteReturnOrder(returnOrderId: kotlin.String) : Unit {
        val localVarResponse = deleteReturnOrderWithHttpInfo(returnOrderId = returnOrderId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/returns/{return_order_id}
     * 
     * 
     * @param returnOrderId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteReturnOrderWithHttpInfo(returnOrderId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteReturnOrderRequestConfig(returnOrderId = returnOrderId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteReturnOrder
     *
     * @param returnOrderId 
     * @return RequestConfig
     */
    fun deleteReturnOrderRequestConfig(returnOrderId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/returns/{return_order_id}".replace("{"+"return_order_id"+"}", encodeURIComponent(returnOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/returns/{return_order_id}
     * 
     * 
     * @param returnOrderId 
     * @return ReturnOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getReturnOrder(returnOrderId: kotlin.String) : ReturnOrder {
        val localVarResponse = getReturnOrderWithHttpInfo(returnOrderId = returnOrderId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReturnOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/returns/{return_order_id}
     * 
     * 
     * @param returnOrderId 
     * @return ApiResponse<ReturnOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getReturnOrderWithHttpInfo(returnOrderId: kotlin.String) : ApiResponse<ReturnOrder?> {
        val localVariableConfig = getReturnOrderRequestConfig(returnOrderId = returnOrderId)

        return request<Unit, ReturnOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getReturnOrder
     *
     * @param returnOrderId 
     * @return RequestConfig
     */
    fun getReturnOrderRequestConfig(returnOrderId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/returns/{return_order_id}".replace("{"+"return_order_id"+"}", encodeURIComponent(returnOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/returns/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param customerName  (optional)
     * @param orderNumber  (optional)
     * @return kotlin.collections.List<ReturnOrder>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listReturnOrders(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, status: kotlin.String? = null, customerName: kotlin.String? = null, orderNumber: kotlin.String? = null) : kotlin.collections.List<ReturnOrder> {
        val localVarResponse = listReturnOrdersWithHttpInfo(page = page, pageSize = pageSize, status = status, customerName = customerName, orderNumber = orderNumber)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ReturnOrder>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/returns/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param customerName  (optional)
     * @param orderNumber  (optional)
     * @return ApiResponse<kotlin.collections.List<ReturnOrder>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listReturnOrdersWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, customerName: kotlin.String?, orderNumber: kotlin.String?) : ApiResponse<kotlin.collections.List<ReturnOrder>?> {
        val localVariableConfig = listReturnOrdersRequestConfig(page = page, pageSize = pageSize, status = status, customerName = customerName, orderNumber = orderNumber)

        return request<Unit, kotlin.collections.List<ReturnOrder>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listReturnOrders
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param customerName  (optional)
     * @param orderNumber  (optional)
     * @return RequestConfig
     */
    fun listReturnOrdersRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, customerName: kotlin.String?, orderNumber: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (customerName != null) {
                    put("customer_name", listOf(customerName.toString()))
                }
                if (orderNumber != null) {
                    put("order_number", listOf(orderNumber.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/returns/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/returns/logistics-queue
     * 
     * 
     * @return kotlin.collections.List<ReturnLogisticsQueueItem>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun returnLogisticsQueue() : kotlin.collections.List<ReturnLogisticsQueueItem> {
        val localVarResponse = returnLogisticsQueueWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ReturnLogisticsQueueItem>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/returns/logistics-queue
     * 
     * 
     * @return ApiResponse<kotlin.collections.List<ReturnLogisticsQueueItem>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun returnLogisticsQueueWithHttpInfo() : ApiResponse<kotlin.collections.List<ReturnLogisticsQueueItem>?> {
        val localVariableConfig = returnLogisticsQueueRequestConfig()

        return request<Unit, kotlin.collections.List<ReturnLogisticsQueueItem>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation returnLogisticsQueue
     *
     * @return RequestConfig
     */
    fun returnLogisticsQueueRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/returns/logistics-queue",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/returns/logistics-summary
     * Returns-logistics aggregation for the dashboard: quantities received, restocked and scrapped per warehouse.
     * 
     * @return ReturnLogisticsSummary
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun returnLogisticsSummary() : ReturnLogisticsSummary {
        val localVarResponse = returnLogisticsSummaryWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReturnLogisticsSummary
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/returns/logistics-summary
     * Returns-logistics aggregation for the dashboard: quantities received, restocked and scrapped per warehouse.
     * 
     * @return ApiResponse<ReturnLogisticsSummary?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun returnLogisticsSummaryWithHttpInfo() : ApiResponse<ReturnLogisticsSummary?> {
        val localVariableConfig = returnLogisticsSummaryRequestConfig()

        return request<Unit, ReturnLogisticsSummary>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation returnLogisticsSummary
     *
     * @return RequestConfig
     */
    fun returnLogisticsSummaryRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/returns/logistics-summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/returns/{return_order_id}
     * 
     * 
     * @param returnOrderId 
     * @param body 
     * @return ReturnOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateReturnOrder(returnOrderId: kotlin.String, body: kotlin.Any) : ReturnOrder {
        val localVarResponse = updateReturnOrderWithHttpInfo(returnOrderId = returnOrderId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReturnOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/returns/{return_order_id}
     * 
     * 
     * @param returnOrderId 
     * @param body 
     * @return ApiResponse<ReturnOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateReturnOrderWithHttpInfo(returnOrderId: kotlin.String, body: kotlin.Any) : ApiResponse<ReturnOrder?> {
        val localVariableConfig = updateReturnOrderRequestConfig(returnOrderId = returnOrderId, body = body)

        return request<kotlin.Any, ReturnOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateReturnOrder
     *
     * @param returnOrderId 
     * @param body 
     * @return RequestConfig
     */
    fun updateReturnOrderRequestConfig(returnOrderId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/returns/{return_order_id}".replace("{"+"return_order_id"+"}", encodeURIComponent(returnOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/returns/{return_order_id}/status
     * 
     * 
     * @param returnOrderId 
     * @param returnOrderStatusUpdate 
     * @return ReturnOrder
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateReturnOrderStatus(returnOrderId: kotlin.String, returnOrderStatusUpdate: ReturnOrderStatusUpdate) : ReturnOrder {
        val localVarResponse = updateReturnOrderStatusWithHttpInfo(returnOrderId = returnOrderId, returnOrderStatusUpdate = returnOrderStatusUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReturnOrder
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/returns/{return_order_id}/status
     * 
     * 
     * @param returnOrderId 
     * @param returnOrderStatusUpdate 
     * @return ApiResponse<ReturnOrder?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateReturnOrderStatusWithHttpInfo(returnOrderId: kotlin.String, returnOrderStatusUpdate: ReturnOrderStatusUpdate) : ApiResponse<ReturnOrder?> {
        val localVariableConfig = updateReturnOrderStatusRequestConfig(returnOrderId = returnOrderId, returnOrderStatusUpdate = returnOrderStatusUpdate)

        return request<ReturnOrderStatusUpdate, ReturnOrder>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateReturnOrderStatus
     *
     * @param returnOrderId 
     * @param returnOrderStatusUpdate 
     * @return RequestConfig
     */
    fun updateReturnOrderStatusRequestConfig(returnOrderId: kotlin.String, returnOrderStatusUpdate: ReturnOrderStatusUpdate) : RequestConfig<ReturnOrderStatusUpdate> {
        val localVariableBody = returnOrderStatusUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/returns/{return_order_id}/status".replace("{"+"return_order_id"+"}", encodeURIComponent(returnOrderId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
