/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.DeliverableResponse
import org.openapitools.client.models.PluginError
import org.openapitools.client.models.ShippingThreshold
import org.openapitools.client.models.ShippingThresholdCreate
import org.openapitools.client.models.ShippingThresholdUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ShippingThresholdApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/shipping-thresholds
     * 
     * 
     * @param shippingThresholdCreate 
     * @return ShippingThreshold
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createShippingThreshold(shippingThresholdCreate: ShippingThresholdCreate) : ShippingThreshold {
        val localVarResponse = createShippingThresholdWithHttpInfo(shippingThresholdCreate = shippingThresholdCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ShippingThreshold
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/shipping-thresholds
     * 
     * 
     * @param shippingThresholdCreate 
     * @return ApiResponse<ShippingThreshold?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createShippingThresholdWithHttpInfo(shippingThresholdCreate: ShippingThresholdCreate) : ApiResponse<ShippingThreshold?> {
        val localVariableConfig = createShippingThresholdRequestConfig(shippingThresholdCreate = shippingThresholdCreate)

        return request<ShippingThresholdCreate, ShippingThreshold>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createShippingThreshold
     *
     * @param shippingThresholdCreate 
     * @return RequestConfig
     */
    fun createShippingThresholdRequestConfig(shippingThresholdCreate: ShippingThresholdCreate) : RequestConfig<ShippingThresholdCreate> {
        val localVariableBody = shippingThresholdCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/shipping-thresholds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/shipping-thresholds/{threshold_id}
     * 
     * 
     * @param thresholdId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteShippingThreshold(thresholdId: kotlin.String) : Unit {
        val localVarResponse = deleteShippingThresholdWithHttpInfo(thresholdId = thresholdId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/shipping-thresholds/{threshold_id}
     * 
     * 
     * @param thresholdId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteShippingThresholdWithHttpInfo(thresholdId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteShippingThresholdRequestConfig(thresholdId = thresholdId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteShippingThreshold
     *
     * @param thresholdId 
     * @return RequestConfig
     */
    fun deleteShippingThresholdRequestConfig(thresholdId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/shipping-thresholds/{threshold_id}".replace("{"+"threshold_id"+"}", encodeURIComponent(thresholdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/shipping-thresholds/deliverable
     * 
     * 
     * @param productId 
     * @param warehouseId  (optional)
     * @return DeliverableResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getDeliverable(productId: java.util.UUID, warehouseId: kotlin.String? = null) : DeliverableResponse {
        val localVarResponse = getDeliverableWithHttpInfo(productId = productId, warehouseId = warehouseId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliverableResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/shipping-thresholds/deliverable
     * 
     * 
     * @param productId 
     * @param warehouseId  (optional)
     * @return ApiResponse<DeliverableResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getDeliverableWithHttpInfo(productId: java.util.UUID, warehouseId: kotlin.String?) : ApiResponse<DeliverableResponse?> {
        val localVariableConfig = getDeliverableRequestConfig(productId = productId, warehouseId = warehouseId)

        return request<Unit, DeliverableResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getDeliverable
     *
     * @param productId 
     * @param warehouseId  (optional)
     * @return RequestConfig
     */
    fun getDeliverableRequestConfig(productId: java.util.UUID, warehouseId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("productId", listOf(productId.toString()))
                if (warehouseId != null) {
                    put("warehouseId", listOf(warehouseId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/shipping-thresholds/deliverable",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/shipping-thresholds/{threshold_id}
     * 
     * 
     * @param thresholdId 
     * @return ShippingThreshold
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getShippingThreshold(thresholdId: kotlin.String) : ShippingThreshold {
        val localVarResponse = getShippingThresholdWithHttpInfo(thresholdId = thresholdId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ShippingThreshold
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/shipping-thresholds/{threshold_id}
     * 
     * 
     * @param thresholdId 
     * @return ApiResponse<ShippingThreshold?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getShippingThresholdWithHttpInfo(thresholdId: kotlin.String) : ApiResponse<ShippingThreshold?> {
        val localVariableConfig = getShippingThresholdRequestConfig(thresholdId = thresholdId)

        return request<Unit, ShippingThreshold>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getShippingThreshold
     *
     * @param thresholdId 
     * @return RequestConfig
     */
    fun getShippingThresholdRequestConfig(thresholdId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/shipping-thresholds/{threshold_id}".replace("{"+"threshold_id"+"}", encodeURIComponent(thresholdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/shipping-thresholds/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param warehouseId  (optional)
     * @param isActive  (optional)
     * @return kotlin.collections.List<ShippingThreshold>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listShippingThresholds(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, productId: java.util.UUID? = null, warehouseId: kotlin.String? = null, isActive: kotlin.Boolean? = null) : kotlin.collections.List<ShippingThreshold> {
        val localVarResponse = listShippingThresholdsWithHttpInfo(page = page, pageSize = pageSize, productId = productId, warehouseId = warehouseId, isActive = isActive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ShippingThreshold>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/shipping-thresholds/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param warehouseId  (optional)
     * @param isActive  (optional)
     * @return ApiResponse<kotlin.collections.List<ShippingThreshold>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listShippingThresholdsWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, warehouseId: kotlin.String?, isActive: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<ShippingThreshold>?> {
        val localVariableConfig = listShippingThresholdsRequestConfig(page = page, pageSize = pageSize, productId = productId, warehouseId = warehouseId, isActive = isActive)

        return request<Unit, kotlin.collections.List<ShippingThreshold>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listShippingThresholds
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param warehouseId  (optional)
     * @param isActive  (optional)
     * @return RequestConfig
     */
    fun listShippingThresholdsRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, warehouseId: kotlin.String?, isActive: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (productId != null) {
                    put("product_id", listOf(productId.toString()))
                }
                if (warehouseId != null) {
                    put("warehouse_id", listOf(warehouseId.toString()))
                }
                if (isActive != null) {
                    put("is_active", listOf(isActive.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/shipping-thresholds/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/shipping-thresholds/{threshold_id}
     * 
     * 
     * @param thresholdId 
     * @param shippingThresholdUpdate 
     * @return ShippingThreshold
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateShippingThreshold(thresholdId: kotlin.String, shippingThresholdUpdate: ShippingThresholdUpdate) : ShippingThreshold {
        val localVarResponse = updateShippingThresholdWithHttpInfo(thresholdId = thresholdId, shippingThresholdUpdate = shippingThresholdUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ShippingThreshold
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/shipping-thresholds/{threshold_id}
     * 
     * 
     * @param thresholdId 
     * @param shippingThresholdUpdate 
     * @return ApiResponse<ShippingThreshold?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateShippingThresholdWithHttpInfo(thresholdId: kotlin.String, shippingThresholdUpdate: ShippingThresholdUpdate) : ApiResponse<ShippingThreshold?> {
        val localVariableConfig = updateShippingThresholdRequestConfig(thresholdId = thresholdId, shippingThresholdUpdate = shippingThresholdUpdate)

        return request<ShippingThresholdUpdate, ShippingThreshold>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateShippingThreshold
     *
     * @param thresholdId 
     * @param shippingThresholdUpdate 
     * @return RequestConfig
     */
    fun updateShippingThresholdRequestConfig(thresholdId: kotlin.String, shippingThresholdUpdate: ShippingThresholdUpdate) : RequestConfig<ShippingThresholdUpdate> {
        val localVariableBody = shippingThresholdUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/shipping-thresholds/{threshold_id}".replace("{"+"threshold_id"+"}", encodeURIComponent(thresholdId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
