/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.StockMovement

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class StockMovementApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * GET /api/v1/stock-movements/{movement_id}
     * 
     * 
     * @param movementId 
     * @return StockMovement
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getStockMovement(movementId: kotlin.String) : StockMovement {
        val localVarResponse = getStockMovementWithHttpInfo(movementId = movementId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StockMovement
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/stock-movements/{movement_id}
     * 
     * 
     * @param movementId 
     * @return ApiResponse<StockMovement?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getStockMovementWithHttpInfo(movementId: kotlin.String) : ApiResponse<StockMovement?> {
        val localVariableConfig = getStockMovementRequestConfig(movementId = movementId)

        return request<Unit, StockMovement>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getStockMovement
     *
     * @param movementId 
     * @return RequestConfig
     */
    fun getStockMovementRequestConfig(movementId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/stock-movements/{movement_id}".replace("{"+"movement_id"+"}", encodeURIComponent(movementId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/stock-movements/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param warehouseId  (optional)
     * @param movementType  (optional)
     * @param from Only movements on or after this date (inclusive). (optional)
     * @param to Only movements on or before this date (inclusive). (optional)
     * @return kotlin.collections.List<StockMovement>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listStockMovements(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, productId: java.util.UUID? = null, warehouseId: kotlin.String? = null, movementType: kotlin.String? = null, from: java.time.LocalDate? = null, to: java.time.LocalDate? = null) : kotlin.collections.List<StockMovement> {
        val localVarResponse = listStockMovementsWithHttpInfo(page = page, pageSize = pageSize, productId = productId, warehouseId = warehouseId, movementType = movementType, from = from, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<StockMovement>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/stock-movements/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param warehouseId  (optional)
     * @param movementType  (optional)
     * @param from Only movements on or after this date (inclusive). (optional)
     * @param to Only movements on or before this date (inclusive). (optional)
     * @return ApiResponse<kotlin.collections.List<StockMovement>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listStockMovementsWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, warehouseId: kotlin.String?, movementType: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : ApiResponse<kotlin.collections.List<StockMovement>?> {
        val localVariableConfig = listStockMovementsRequestConfig(page = page, pageSize = pageSize, productId = productId, warehouseId = warehouseId, movementType = movementType, from = from, to = to)

        return request<Unit, kotlin.collections.List<StockMovement>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listStockMovements
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param productId  (optional)
     * @param warehouseId  (optional)
     * @param movementType  (optional)
     * @param from Only movements on or after this date (inclusive). (optional)
     * @param to Only movements on or before this date (inclusive). (optional)
     * @return RequestConfig
     */
    fun listStockMovementsRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, productId: java.util.UUID?, warehouseId: kotlin.String?, movementType: kotlin.String?, from: java.time.LocalDate?, to: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (productId != null) {
                    put("productId", listOf(productId.toString()))
                }
                if (warehouseId != null) {
                    put("warehouseId", listOf(warehouseId.toString()))
                }
                if (movementType != null) {
                    put("movementType", listOf(movementType.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/stock-movements/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
