/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.CreateTicketRequest
import org.openapitools.client.models.SupportTicket
import org.openapitools.client.models.SupportTicketUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class SupportTicketApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/support/tickets
     * 
     * 
     * @param createTicketRequest 
     * @return SupportTicket
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createTicketApi(createTicketRequest: CreateTicketRequest) : SupportTicket {
        val localVarResponse = createTicketApiWithHttpInfo(createTicketRequest = createTicketRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupportTicket
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/support/tickets
     * 
     * 
     * @param createTicketRequest 
     * @return ApiResponse<SupportTicket?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createTicketApiWithHttpInfo(createTicketRequest: CreateTicketRequest) : ApiResponse<SupportTicket?> {
        val localVariableConfig = createTicketApiRequestConfig(createTicketRequest = createTicketRequest)

        return request<CreateTicketRequest, SupportTicket>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createTicketApi
     *
     * @param createTicketRequest 
     * @return RequestConfig
     */
    fun createTicketApiRequestConfig(createTicketRequest: CreateTicketRequest) : RequestConfig<CreateTicketRequest> {
        val localVariableBody = createTicketRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/support/tickets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/support/tickets/{ticket_id}
     * 
     * 
     * @param ticketId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteTicketApi(ticketId: java.util.UUID) : Unit {
        val localVarResponse = deleteTicketApiWithHttpInfo(ticketId = ticketId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/support/tickets/{ticket_id}
     * 
     * 
     * @param ticketId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteTicketApiWithHttpInfo(ticketId: java.util.UUID) : ApiResponse<Unit?> {
        val localVariableConfig = deleteTicketApiRequestConfig(ticketId = ticketId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteTicketApi
     *
     * @param ticketId 
     * @return RequestConfig
     */
    fun deleteTicketApiRequestConfig(ticketId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/support/tickets/{ticket_id}".replace("{"+"ticket_id"+"}", encodeURIComponent(ticketId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/support/tickets/{ticket_id}
     * 
     * 
     * @param ticketId 
     * @return SupportTicket
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTicketApi(ticketId: java.util.UUID) : SupportTicket {
        val localVarResponse = getTicketApiWithHttpInfo(ticketId = ticketId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupportTicket
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/support/tickets/{ticket_id}
     * 
     * 
     * @param ticketId 
     * @return ApiResponse<SupportTicket?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTicketApiWithHttpInfo(ticketId: java.util.UUID) : ApiResponse<SupportTicket?> {
        val localVariableConfig = getTicketApiRequestConfig(ticketId = ticketId)

        return request<Unit, SupportTicket>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTicketApi
     *
     * @param ticketId 
     * @return RequestConfig
     */
    fun getTicketApiRequestConfig(ticketId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/support/tickets/{ticket_id}".replace("{"+"ticket_id"+"}", encodeURIComponent(ticketId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/support/tickets
     * 
     * 
     * @param status  (optional)
     * @param priority  (optional)
     * @param assignedTo  (optional)
     * @param channelType  (optional)
     * @param customerId  (optional)
     * @param search  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return kotlin.collections.List<SupportTicket>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listTicketsApi(status: kotlin.String? = null, priority: kotlin.String? = null, assignedTo: java.util.UUID? = null, channelType: kotlin.String? = null, customerId: kotlin.String? = null, search: kotlin.String? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null) : kotlin.collections.List<SupportTicket> {
        val localVarResponse = listTicketsApiWithHttpInfo(status = status, priority = priority, assignedTo = assignedTo, channelType = channelType, customerId = customerId, search = search, page = page, pageSize = pageSize)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SupportTicket>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/support/tickets
     * 
     * 
     * @param status  (optional)
     * @param priority  (optional)
     * @param assignedTo  (optional)
     * @param channelType  (optional)
     * @param customerId  (optional)
     * @param search  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return ApiResponse<kotlin.collections.List<SupportTicket>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listTicketsApiWithHttpInfo(status: kotlin.String?, priority: kotlin.String?, assignedTo: java.util.UUID?, channelType: kotlin.String?, customerId: kotlin.String?, search: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : ApiResponse<kotlin.collections.List<SupportTicket>?> {
        val localVariableConfig = listTicketsApiRequestConfig(status = status, priority = priority, assignedTo = assignedTo, channelType = channelType, customerId = customerId, search = search, page = page, pageSize = pageSize)

        return request<Unit, kotlin.collections.List<SupportTicket>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listTicketsApi
     *
     * @param status  (optional)
     * @param priority  (optional)
     * @param assignedTo  (optional)
     * @param channelType  (optional)
     * @param customerId  (optional)
     * @param search  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @return RequestConfig
     */
    fun listTicketsApiRequestConfig(status: kotlin.String?, priority: kotlin.String?, assignedTo: java.util.UUID?, channelType: kotlin.String?, customerId: kotlin.String?, search: kotlin.String?, page: kotlin.Int?, pageSize: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (priority != null) {
                    put("priority", listOf(priority.toString()))
                }
                if (assignedTo != null) {
                    put("assigned_to", listOf(assignedTo.toString()))
                }
                if (channelType != null) {
                    put("channel_type", listOf(channelType.toString()))
                }
                if (customerId != null) {
                    put("customer_id", listOf(customerId.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/support/tickets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/support/tickets/{ticket_id}
     * 
     * 
     * @param ticketId 
     * @param supportTicketUpdate 
     * @return SupportTicket
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateTicketApi(ticketId: java.util.UUID, supportTicketUpdate: SupportTicketUpdate) : SupportTicket {
        val localVarResponse = updateTicketApiWithHttpInfo(ticketId = ticketId, supportTicketUpdate = supportTicketUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupportTicket
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/support/tickets/{ticket_id}
     * 
     * 
     * @param ticketId 
     * @param supportTicketUpdate 
     * @return ApiResponse<SupportTicket?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateTicketApiWithHttpInfo(ticketId: java.util.UUID, supportTicketUpdate: SupportTicketUpdate) : ApiResponse<SupportTicket?> {
        val localVariableConfig = updateTicketApiRequestConfig(ticketId = ticketId, supportTicketUpdate = supportTicketUpdate)

        return request<SupportTicketUpdate, SupportTicket>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateTicketApi
     *
     * @param ticketId 
     * @param supportTicketUpdate 
     * @return RequestConfig
     */
    fun updateTicketApiRequestConfig(ticketId: java.util.UUID, supportTicketUpdate: SupportTicketUpdate) : RequestConfig<SupportTicketUpdate> {
        val localVariableBody = supportTicketUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/support/tickets/{ticket_id}".replace("{"+"ticket_id"+"}", encodeURIComponent(ticketId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
