/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.SupplierInvoice
import org.openapitools.client.models.SupplierInvoiceStatusUpdate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class SupplierInvoiceApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/supplier-invoices
     * 
     * 
     * @param supplierInvoice 
     * @return SupplierInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createSupplierInvoice(supplierInvoice: SupplierInvoice) : SupplierInvoice {
        val localVarResponse = createSupplierInvoiceWithHttpInfo(supplierInvoice = supplierInvoice)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupplierInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/supplier-invoices
     * 
     * 
     * @param supplierInvoice 
     * @return ApiResponse<SupplierInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createSupplierInvoiceWithHttpInfo(supplierInvoice: SupplierInvoice) : ApiResponse<SupplierInvoice?> {
        val localVariableConfig = createSupplierInvoiceRequestConfig(supplierInvoice = supplierInvoice)

        return request<SupplierInvoice, SupplierInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createSupplierInvoice
     *
     * @param supplierInvoice 
     * @return RequestConfig
     */
    fun createSupplierInvoiceRequestConfig(supplierInvoice: SupplierInvoice) : RequestConfig<SupplierInvoice> {
        val localVariableBody = supplierInvoice
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/supplier-invoices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/supplier-invoices/{supplier_invoice_id}
     * 
     * 
     * @param supplierInvoiceId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteSupplierInvoice(supplierInvoiceId: kotlin.String) : Unit {
        val localVarResponse = deleteSupplierInvoiceWithHttpInfo(supplierInvoiceId = supplierInvoiceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/supplier-invoices/{supplier_invoice_id}
     * 
     * 
     * @param supplierInvoiceId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteSupplierInvoiceWithHttpInfo(supplierInvoiceId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteSupplierInvoiceRequestConfig(supplierInvoiceId = supplierInvoiceId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteSupplierInvoice
     *
     * @param supplierInvoiceId 
     * @return RequestConfig
     */
    fun deleteSupplierInvoiceRequestConfig(supplierInvoiceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/supplier-invoices/{supplier_invoice_id}".replace("{"+"supplier_invoice_id"+"}", encodeURIComponent(supplierInvoiceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/supplier-invoices/{supplier_invoice_id}
     * 
     * 
     * @param supplierInvoiceId 
     * @return SupplierInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSupplierInvoice(supplierInvoiceId: kotlin.String) : SupplierInvoice {
        val localVarResponse = getSupplierInvoiceWithHttpInfo(supplierInvoiceId = supplierInvoiceId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupplierInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/supplier-invoices/{supplier_invoice_id}
     * 
     * 
     * @param supplierInvoiceId 
     * @return ApiResponse<SupplierInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSupplierInvoiceWithHttpInfo(supplierInvoiceId: kotlin.String) : ApiResponse<SupplierInvoice?> {
        val localVariableConfig = getSupplierInvoiceRequestConfig(supplierInvoiceId = supplierInvoiceId)

        return request<Unit, SupplierInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSupplierInvoice
     *
     * @param supplierInvoiceId 
     * @return RequestConfig
     */
    fun getSupplierInvoiceRequestConfig(supplierInvoiceId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/supplier-invoices/{supplier_invoice_id}".replace("{"+"supplier_invoice_id"+"}", encodeURIComponent(supplierInvoiceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/supplier-invoices/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param purchaseOrderId  (optional)
     * @param supplierName  (optional)
     * @return kotlin.collections.List<SupplierInvoice>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSupplierInvoices(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, status: kotlin.String? = null, purchaseOrderId: kotlin.String? = null, supplierName: kotlin.String? = null) : kotlin.collections.List<SupplierInvoice> {
        val localVarResponse = listSupplierInvoicesWithHttpInfo(page = page, pageSize = pageSize, status = status, purchaseOrderId = purchaseOrderId, supplierName = supplierName)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<SupplierInvoice>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/supplier-invoices/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param purchaseOrderId  (optional)
     * @param supplierName  (optional)
     * @return ApiResponse<kotlin.collections.List<SupplierInvoice>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSupplierInvoicesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, purchaseOrderId: kotlin.String?, supplierName: kotlin.String?) : ApiResponse<kotlin.collections.List<SupplierInvoice>?> {
        val localVariableConfig = listSupplierInvoicesRequestConfig(page = page, pageSize = pageSize, status = status, purchaseOrderId = purchaseOrderId, supplierName = supplierName)

        return request<Unit, kotlin.collections.List<SupplierInvoice>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSupplierInvoices
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param status  (optional)
     * @param purchaseOrderId  (optional)
     * @param supplierName  (optional)
     * @return RequestConfig
     */
    fun listSupplierInvoicesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, status: kotlin.String?, purchaseOrderId: kotlin.String?, supplierName: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (purchaseOrderId != null) {
                    put("purchase_order_id", listOf(purchaseOrderId.toString()))
                }
                if (supplierName != null) {
                    put("supplier_name", listOf(supplierName.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/supplier-invoices/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/supplier-invoices/{supplier_invoice_id}
     * 
     * 
     * @param supplierInvoiceId 
     * @param body 
     * @return SupplierInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateSupplierInvoice(supplierInvoiceId: kotlin.String, body: kotlin.Any) : SupplierInvoice {
        val localVarResponse = updateSupplierInvoiceWithHttpInfo(supplierInvoiceId = supplierInvoiceId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupplierInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/supplier-invoices/{supplier_invoice_id}
     * 
     * 
     * @param supplierInvoiceId 
     * @param body 
     * @return ApiResponse<SupplierInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateSupplierInvoiceWithHttpInfo(supplierInvoiceId: kotlin.String, body: kotlin.Any) : ApiResponse<SupplierInvoice?> {
        val localVariableConfig = updateSupplierInvoiceRequestConfig(supplierInvoiceId = supplierInvoiceId, body = body)

        return request<kotlin.Any, SupplierInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateSupplierInvoice
     *
     * @param supplierInvoiceId 
     * @param body 
     * @return RequestConfig
     */
    fun updateSupplierInvoiceRequestConfig(supplierInvoiceId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/supplier-invoices/{supplier_invoice_id}".replace("{"+"supplier_invoice_id"+"}", encodeURIComponent(supplierInvoiceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/supplier-invoices/{supplier_invoice_id}/status
     * 
     * 
     * @param supplierInvoiceId 
     * @param supplierInvoiceStatusUpdate 
     * @return SupplierInvoice
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateSupplierInvoiceStatus(supplierInvoiceId: kotlin.String, supplierInvoiceStatusUpdate: SupplierInvoiceStatusUpdate) : SupplierInvoice {
        val localVarResponse = updateSupplierInvoiceStatusWithHttpInfo(supplierInvoiceId = supplierInvoiceId, supplierInvoiceStatusUpdate = supplierInvoiceStatusUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SupplierInvoice
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/supplier-invoices/{supplier_invoice_id}/status
     * 
     * 
     * @param supplierInvoiceId 
     * @param supplierInvoiceStatusUpdate 
     * @return ApiResponse<SupplierInvoice?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateSupplierInvoiceStatusWithHttpInfo(supplierInvoiceId: kotlin.String, supplierInvoiceStatusUpdate: SupplierInvoiceStatusUpdate) : ApiResponse<SupplierInvoice?> {
        val localVariableConfig = updateSupplierInvoiceStatusRequestConfig(supplierInvoiceId = supplierInvoiceId, supplierInvoiceStatusUpdate = supplierInvoiceStatusUpdate)

        return request<SupplierInvoiceStatusUpdate, SupplierInvoice>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateSupplierInvoiceStatus
     *
     * @param supplierInvoiceId 
     * @param supplierInvoiceStatusUpdate 
     * @return RequestConfig
     */
    fun updateSupplierInvoiceStatusRequestConfig(supplierInvoiceId: kotlin.String, supplierInvoiceStatusUpdate: SupplierInvoiceStatusUpdate) : RequestConfig<SupplierInvoiceStatusUpdate> {
        val localVariableBody = supplierInvoiceStatusUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/supplier-invoices/{supplier_invoice_id}/status".replace("{"+"supplier_invoice_id"+"}", encodeURIComponent(supplierInvoiceId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
