/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.LaborCostRow
import org.openapitools.client.models.PluginError
import org.openapitools.client.models.TimeEntryClockIn
import org.openapitools.client.models.TimeEntryClockOut
import org.openapitools.client.models.TimeEntryDto

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class TimeEntriesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/time-entries
     * Clock in for the authenticated user (resolved via their employee profile).
     * 
     * @param timeEntryClockIn 
     * @return TimeEntryDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clockInTimeEntry(timeEntryClockIn: TimeEntryClockIn) : TimeEntryDto {
        val localVarResponse = clockInTimeEntryWithHttpInfo(timeEntryClockIn = timeEntryClockIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TimeEntryDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/time-entries
     * Clock in for the authenticated user (resolved via their employee profile).
     * 
     * @param timeEntryClockIn 
     * @return ApiResponse<TimeEntryDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clockInTimeEntryWithHttpInfo(timeEntryClockIn: TimeEntryClockIn) : ApiResponse<TimeEntryDto?> {
        val localVariableConfig = clockInTimeEntryRequestConfig(timeEntryClockIn = timeEntryClockIn)

        return request<TimeEntryClockIn, TimeEntryDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clockInTimeEntry
     *
     * @param timeEntryClockIn 
     * @return RequestConfig
     */
    fun clockInTimeEntryRequestConfig(timeEntryClockIn: TimeEntryClockIn) : RequestConfig<TimeEntryClockIn> {
        val localVariableBody = timeEntryClockIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/time-entries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/v1/time-entries/{id}
     * Clock out an entry: the entry&#39;s owner, or anyone with &#x60;time_entries:write&#x60;.
     * 
     * @param id 
     * @param timeEntryClockOut 
     * @return TimeEntryDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun clockOutTimeEntry(id: java.util.UUID, timeEntryClockOut: TimeEntryClockOut) : TimeEntryDto {
        val localVarResponse = clockOutTimeEntryWithHttpInfo(id = id, timeEntryClockOut = timeEntryClockOut)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TimeEntryDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/v1/time-entries/{id}
     * Clock out an entry: the entry&#39;s owner, or anyone with &#x60;time_entries:write&#x60;.
     * 
     * @param id 
     * @param timeEntryClockOut 
     * @return ApiResponse<TimeEntryDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun clockOutTimeEntryWithHttpInfo(id: java.util.UUID, timeEntryClockOut: TimeEntryClockOut) : ApiResponse<TimeEntryDto?> {
        val localVariableConfig = clockOutTimeEntryRequestConfig(id = id, timeEntryClockOut = timeEntryClockOut)

        return request<TimeEntryClockOut, TimeEntryDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation clockOutTimeEntry
     *
     * @param id 
     * @param timeEntryClockOut 
     * @return RequestConfig
     */
    fun clockOutTimeEntryRequestConfig(id: java.util.UUID, timeEntryClockOut: TimeEntryClockOut) : RequestConfig<TimeEntryClockOut> {
        val localVariableBody = timeEntryClockOut
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/v1/time-entries/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/labor-costs
     * Labor-cost report: worked hours aggregated per employee / order / day, valued at the employee&#39;s hourly cost rate.
     * 
     * @param from 
     * @param to 
     * @param groupBy One of \&quot;employee\&quot;, \&quot;order\&quot; or \&quot;day\&quot;.
     * @return kotlin.collections.List<LaborCostRow>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getLaborCosts(from: java.time.LocalDate, to: java.time.LocalDate, groupBy: kotlin.String) : kotlin.collections.List<LaborCostRow> {
        val localVarResponse = getLaborCostsWithHttpInfo(from = from, to = to, groupBy = groupBy)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<LaborCostRow>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/labor-costs
     * Labor-cost report: worked hours aggregated per employee / order / day, valued at the employee&#39;s hourly cost rate.
     * 
     * @param from 
     * @param to 
     * @param groupBy One of \&quot;employee\&quot;, \&quot;order\&quot; or \&quot;day\&quot;.
     * @return ApiResponse<kotlin.collections.List<LaborCostRow>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getLaborCostsWithHttpInfo(from: java.time.LocalDate, to: java.time.LocalDate, groupBy: kotlin.String) : ApiResponse<kotlin.collections.List<LaborCostRow>?> {
        val localVariableConfig = getLaborCostsRequestConfig(from = from, to = to, groupBy = groupBy)

        return request<Unit, kotlin.collections.List<LaborCostRow>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getLaborCosts
     *
     * @param from 
     * @param to 
     * @param groupBy One of \&quot;employee\&quot;, \&quot;order\&quot; or \&quot;day\&quot;.
     * @return RequestConfig
     */
    fun getLaborCostsRequestConfig(from: java.time.LocalDate, to: java.time.LocalDate, groupBy: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                put("group_by", listOf(groupBy.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/labor-costs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/time-entries
     * List time entries with optional date-range / active / employee filters.
     * 
     * @param from  (optional)
     * @param to  (optional)
     * @param active Only currently running shifts (clock_in set, clock_out null). (optional)
     * @param employeeId  (optional)
     * @return kotlin.collections.List<TimeEntryDto>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listTimeEntries(from: java.time.LocalDate? = null, to: java.time.LocalDate? = null, active: kotlin.Boolean? = null, employeeId: java.util.UUID? = null) : kotlin.collections.List<TimeEntryDto> {
        val localVarResponse = listTimeEntriesWithHttpInfo(from = from, to = to, active = active, employeeId = employeeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<TimeEntryDto>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/time-entries
     * List time entries with optional date-range / active / employee filters.
     * 
     * @param from  (optional)
     * @param to  (optional)
     * @param active Only currently running shifts (clock_in set, clock_out null). (optional)
     * @param employeeId  (optional)
     * @return ApiResponse<kotlin.collections.List<TimeEntryDto>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listTimeEntriesWithHttpInfo(from: java.time.LocalDate?, to: java.time.LocalDate?, active: kotlin.Boolean?, employeeId: java.util.UUID?) : ApiResponse<kotlin.collections.List<TimeEntryDto>?> {
        val localVariableConfig = listTimeEntriesRequestConfig(from = from, to = to, active = active, employeeId = employeeId)

        return request<Unit, kotlin.collections.List<TimeEntryDto>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listTimeEntries
     *
     * @param from  (optional)
     * @param to  (optional)
     * @param active Only currently running shifts (clock_in set, clock_out null). (optional)
     * @param employeeId  (optional)
     * @return RequestConfig
     */
    fun listTimeEntriesRequestConfig(from: java.time.LocalDate?, to: java.time.LocalDate?, active: kotlin.Boolean?, employeeId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
                if (employeeId != null) {
                    put("employee_id", listOf(employeeId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/time-entries",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
