/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PluginError
import org.openapitools.client.models.Voucher
import org.openapitools.client.models.VoucherCreate

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class VoucherApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://demo.simplebilly.com")
        }
    }

    /**
     * POST /api/v1/vouchers
     * 
     * 
     * @param voucherCreate 
     * @return Voucher
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createVoucher(voucherCreate: VoucherCreate) : Voucher {
        val localVarResponse = createVoucherWithHttpInfo(voucherCreate = voucherCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Voucher
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/vouchers
     * 
     * 
     * @param voucherCreate 
     * @return ApiResponse<Voucher?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createVoucherWithHttpInfo(voucherCreate: VoucherCreate) : ApiResponse<Voucher?> {
        val localVariableConfig = createVoucherRequestConfig(voucherCreate = voucherCreate)

        return request<VoucherCreate, Voucher>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createVoucher
     *
     * @param voucherCreate 
     * @return RequestConfig
     */
    fun createVoucherRequestConfig(voucherCreate: VoucherCreate) : RequestConfig<VoucherCreate> {
        val localVariableBody = voucherCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/vouchers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/vouchers/{voucher_id}
     * 
     * 
     * @param voucherId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteVoucher(voucherId: kotlin.String) : Unit {
        val localVarResponse = deleteVoucherWithHttpInfo(voucherId = voucherId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/vouchers/{voucher_id}
     * 
     * 
     * @param voucherId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteVoucherWithHttpInfo(voucherId: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteVoucherRequestConfig(voucherId = voucherId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteVoucher
     *
     * @param voucherId 
     * @return RequestConfig
     */
    fun deleteVoucherRequestConfig(voucherId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/vouchers/{voucher_id}".replace("{"+"voucher_id"+"}", encodeURIComponent(voucherId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/vouchers/{voucher_id}
     * 
     * 
     * @param voucherId 
     * @return Voucher
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getVoucher(voucherId: kotlin.String) : Voucher {
        val localVarResponse = getVoucherWithHttpInfo(voucherId = voucherId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Voucher
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/vouchers/{voucher_id}
     * 
     * 
     * @param voucherId 
     * @return ApiResponse<Voucher?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getVoucherWithHttpInfo(voucherId: kotlin.String) : ApiResponse<Voucher?> {
        val localVariableConfig = getVoucherRequestConfig(voucherId = voucherId)

        return request<Unit, Voucher>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getVoucher
     *
     * @param voucherId 
     * @return RequestConfig
     */
    fun getVoucherRequestConfig(voucherId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/vouchers/{voucher_id}".replace("{"+"voucher_id"+"}", encodeURIComponent(voucherId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/vouchers/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param voucherType  (optional)
     * @param voucherStatus  (optional)
     * @param contactName  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @return kotlin.collections.List<Voucher>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listVouchers(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, voucherType: kotlin.String? = null, voucherStatus: kotlin.String? = null, contactName: kotlin.String? = null, dateFrom: java.time.LocalDate? = null, dateTo: java.time.LocalDate? = null) : kotlin.collections.List<Voucher> {
        val localVarResponse = listVouchersWithHttpInfo(page = page, pageSize = pageSize, voucherType = voucherType, voucherStatus = voucherStatus, contactName = contactName, dateFrom = dateFrom, dateTo = dateTo)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Voucher>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/vouchers/
     * 
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param voucherType  (optional)
     * @param voucherStatus  (optional)
     * @param contactName  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @return ApiResponse<kotlin.collections.List<Voucher>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listVouchersWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, voucherType: kotlin.String?, voucherStatus: kotlin.String?, contactName: kotlin.String?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?) : ApiResponse<kotlin.collections.List<Voucher>?> {
        val localVariableConfig = listVouchersRequestConfig(page = page, pageSize = pageSize, voucherType = voucherType, voucherStatus = voucherStatus, contactName = contactName, dateFrom = dateFrom, dateTo = dateTo)

        return request<Unit, kotlin.collections.List<Voucher>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listVouchers
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param voucherType  (optional)
     * @param voucherStatus  (optional)
     * @param contactName  (optional)
     * @param dateFrom  (optional)
     * @param dateTo  (optional)
     * @return RequestConfig
     */
    fun listVouchersRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, voucherType: kotlin.String?, voucherStatus: kotlin.String?, contactName: kotlin.String?, dateFrom: java.time.LocalDate?, dateTo: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("page_size", listOf(pageSize.toString()))
                }
                if (voucherType != null) {
                    put("voucher_type", listOf(voucherType.toString()))
                }
                if (voucherStatus != null) {
                    put("voucher_status", listOf(voucherStatus.toString()))
                }
                if (contactName != null) {
                    put("contact_name", listOf(contactName.toString()))
                }
                if (dateFrom != null) {
                    put("date_from", listOf(parseDateToQueryString<java.time.LocalDate>(dateFrom)))
                }
                if (dateTo != null) {
                    put("date_to", listOf(parseDateToQueryString<java.time.LocalDate>(dateTo)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/vouchers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /api/v1/vouchers/{voucher_id}
     * 
     * 
     * @param voucherId 
     * @param body 
     * @return Voucher
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateVoucher(voucherId: kotlin.String, body: kotlin.Any) : Voucher {
        val localVarResponse = updateVoucherWithHttpInfo(voucherId = voucherId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Voucher
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /api/v1/vouchers/{voucher_id}
     * 
     * 
     * @param voucherId 
     * @param body 
     * @return ApiResponse<Voucher?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateVoucherWithHttpInfo(voucherId: kotlin.String, body: kotlin.Any) : ApiResponse<Voucher?> {
        val localVariableConfig = updateVoucherRequestConfig(voucherId = voucherId, body = body)

        return request<kotlin.Any, Voucher>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateVoucher
     *
     * @param voucherId 
     * @param body 
     * @return RequestConfig
     */
    fun updateVoucherRequestConfig(voucherId: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/v1/vouchers/{voucher_id}".replace("{"+"voucher_id"+"}", encodeURIComponent(voucherId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/vouchers/{voucher_id}/restore
     * 
     * 
     * @param voucherId 
     * @return Voucher
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun voucherRestore(voucherId: kotlin.String) : Voucher {
        val localVarResponse = voucherRestoreWithHttpInfo(voucherId = voucherId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Voucher
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/vouchers/{voucher_id}/restore
     * 
     * 
     * @param voucherId 
     * @return ApiResponse<Voucher?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun voucherRestoreWithHttpInfo(voucherId: kotlin.String) : ApiResponse<Voucher?> {
        val localVariableConfig = voucherRestoreRequestConfig(voucherId = voucherId)

        return request<Unit, Voucher>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation voucherRestore
     *
     * @param voucherId 
     * @return RequestConfig
     */
    fun voucherRestoreRequestConfig(voucherId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/vouchers/{voucher_id}/restore".replace("{"+"voucher_id"+"}", encodeURIComponent(voucherId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
